<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'DOCUMENTS' | translate }}</div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_DOCUMENT_TITLES_AND_AUTHORS' | translate }}</small>
                <br>
            </div>
            <!-- FILTER DOCUMENTS BY STATUS -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <select class="form-control custom-select" ng-model="filter.document_status" ng-change="filterDocuments()">
                    <option value="">{{ 'NO_FILTER' | translate }}</option>
                    <option value="0">(0) {{ 'INITIALISED' | translate }}</option>
                    <option value="1">(1) {{ 'UNSUBMITTED' | translate }}</option>
                    <option value="2">(2) {{ 'SUBMITTED_AUTO_ACCEPTED' | translate }}</option>
                    <option value="3">(3) {{ 'SUBMITTED_REVIEW_REQUIRED' | translate }} [{{ 'DEFAULT' | translate }}]</option>
                    <option value="4">(4) {{ 'REVIEW_IN_PROGRESS' | translate }}</option>
                    <option value="5">(5) {{ 'REVIEWED_PARTLY_ACCEPTED' | translate }}</option>
                    <option value="6">(6) {{ 'REVIEWED_ACCEPTED' | translate }}</option>
                    <option value="7">(7) {{ 'REJECTED' | translate }}</option>
                </select>
                <small class="form-text text-muted">{{ 'FILTER_BY_STATUS' | translate }}</small>
                <br>
            </div>
        </div>

        <div class="list-group" ng-if="documents && documents.length>0">
            <a href="" ng-click="redirect('/documents/' + document.document_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="document in documents | filter: searchText | orderBy: ['created']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{document.document_title}}</b>
                    </div>
                    <div>
                        <span class="badge" ng-class="{'badge-default': document.status==0 || document.status==1, 'badge-success': document.status==2 || document.status==6, 'badge-primary': document.status==3, 'badge-info': document.status==4, 'badge-warning': document.status=='5', 'badge-danger': document.status==7}">
                            <span ng-if="document.status==0">{{ 'INITIALISED' | translate }}</span>
                            <span ng-if="document.status==1">{{ 'UNSUBMITTED' | translate }}</span>
                            <span ng-if="document.status==2">{{ 'SUBMITTED' | translate }}</span>
                            <span ng-if="document.status==3">{{ 'REVIEW_REQUIRED' | translate }}</span>
                            <span ng-if="document.status==4">{{ 'UNDER_REVIEW' | translate }}</span>
                            <span ng-if="document.status==5">{{ 'PARTLY_ACCEPTED' | translate }}</span>
                            <span ng-if="document.status==6">{{ 'REVIEWED' | translate }}</span>
                            <span ng-if="document.status==7">{{ 'REJECTED' | translate }}</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!documents || documents.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>
        <br>

        <!--Pagination -->
        <nav aria-label="pagination" ng-if="documents && documents.length>0">
            <ul class="pagination justify-content-center">
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(0)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset - filter.limit)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{'active': filter.offset == page.offset}" ng-repeat="page in pages">
                    <a href="" class="page-link" ng-click="changeOffset(page.offset)">
                        {{$index+1}}
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset + filter.limit)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pages[pages.length - 1].offset)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
