<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">

        <!-- SEARCH -->
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
            <span class="input-group-btn" ng-if="searchText">
                <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </span>
        </div>
        <small class="form-text text-muted">{{ 'SEARCH_FOR_MEMBERS' | translate }}</small>
        <br>

        <div class="middle" ng-if="!members">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        </div>
        <div class="middle" ng-if="members && members.length==0">
            - {{ 'NO_MEMBERS_FOUND' | translate }} -
        </div>
        <div class="list-group" ng-if="members && members.length>0">
            <a href="" ng-click="showDetails(member)" class="list-group-item list-group-item-action" ng-repeat="member in members | filter: searchText">
                <span ng-if="member.subscribed" class="text-success float-xs-right">
                    <i class="fa fa-rss-square" aria-hidden="true"></i>
                </span>
                <span ng-if="member.admin">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                </span>
                <span ng-if="!member.admin">
                    <span ng-if="member.member_id!=authenticated_member.member_id">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <span ng-if="member.member_id==authenticated_member.member_id">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </span>
                </span>
                &nbsp;&nbsp;
                <b><span ng-if="member.title">{{member.title}} </span>{{member.first_name}} {{member.last_name}}</b>
                <span class="text-muted" ng-if="member.research_lab">
                    <small>({{member.research_lab}})</small>
                </span>
            </a>
        </div>
        <br>
        <br>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
