<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createUserForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'NEW_USER' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/users')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-block">
            <label>
                <b>{{ 'EMAIL_ADDRESS' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createUserForm.user_email_address.$invalid && !createUserForm.user_email_address.$pristine}">
                <input
                    type="email"
                    class="form-control"
                    ng-model="new_user.email_address"
                    name="user_email_address"
                    id="user_email_address"
                    placeholder="{{ 'EMAIL_ADDRESS' | translate }}"
                    aria-describedby="inputEmailAddress"
                    required
                    autofocus
                    autocomplete="on">
                <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_ADDRESS' | translate }}</small>
                <span ng-show="createUserForm.user_email_address.$error.required && !createUserForm.user_email_address.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label>
                        <b>{{ 'TITLE' | translate }}</b>
                    </label>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_user.title"
                            name="title"
                            id="title"
                            placeholder="{{ 'TITLE' | translate }}"
                            aria-describedby="inputTitle"
                            autocomplete="on">
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'FIRST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createUserForm.first_name.$invalid && !createUserForm.first_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_user.first_name"
                            name="first_name"
                            id="first_name"
                            placeholder="{{ 'FIRST_NAME' | translate }}"
                            aria-describedby="inputFirstName"
                            required
                            autocomplete="on">
                        <span ng-show="createUserForm.email_address.$error.required && !createUserForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'LAST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createUserForm.last_name.$invalid && !createUserForm.last_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_user.last_name"
                            name="last_name"
                            id="last_name"
                            placeholder="{{ 'LAST_NAME' | translate }}"
                            aria-describedby="inputLastName"
                            required
                            autocomplete="on">
                        <span ng-show="createUserForm.email_address.$error.required && !createUserForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'UNIVERSITY' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createUserForm.university_id.$invalid && !createUserForm.university_id.$pristine }">
                        <select
                            class="custom-select form-control"
                            id="university_id"
                            name="university_id"
                            ng-model="university_id"
                            ng-options="university.university_id as university.university_name for university in universities | orderBy:['university_name']"
                            ng-disabled="!authenticated_member.admin"
                            ng-change="load('institutes')"
                            required
                        >
                            <option value="">{{ 'PLEASE_SELECT_AN_UNIVERSITY' | translate }}</option>
                        </select>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'INSTITUTE' | translate }}*</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="institute_id"
                        name="institute_id"
                        ng-model="new_user.institute_id"
                        ng-options="institute.institute_id as institute.institute_name for institute in institutes | orderBy:['institute_name']"
                        ng-disabled="university_id == null || !authenticated_member.admin"
                        required
                    >
                        <option value="">{{ 'PLEASE_SELECT_AN_INSTITUTE' | translate }}</option>
                    </select>
                    <span ng-show="createUserForm.institute_id.$error.required && !createUserForm.institute_id.$pristine" class="text-danger">
                        <small>
                            {{ 'REQUIRED' | translate }}
                        </small>
                    </span>
                    <br>
                </div>
            </div>

            <label>
                <b>{{ 'BLOCKING_STATUS' | translate }}*</b>
            </label>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-radio">
                        <input
                        class="custom-control-input"
                        type="radio"
                        name="blocked"
                        id="blocked_1"
                        ng-model="new_user.blocked"
                        ng-value="true"
                        required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                    </label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-radio">
                        <input
                        class="custom-control-input"
                        type="radio"
                        name="blocked"
                        id="blocked_2"
                        ng-model="new_user.blocked"
                        ng-value="false"
                        required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'FALSE' | translate }} ({{ 'DEFAULT' | translate }})</span>
                    </label>
                </div>
            </div>
            <br>

        </div>
        <div class="card-footer right">
          <button class="btn btn-success" role="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
          </button>
        </div>
    </form>
</div>
