<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-9">
                {{ 'USER' | translate }}
            </div>
            <div class="col-3 right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/users/' + user.user_id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h6>
            {{ 'DELETE_THIS_USER' | translate }} <kbd>{{user.fullname}}</kbd>?
        </h6>
        <br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'ATTENTION' | translate }}</h4>
            <p>
                {{ 'EXPLANATION_OF_DELETING_A_USER' | translate }}
            </p>
            <p>
                {{ 'ALTERNATIVE_USER' | translate }}:
            </p>
            <p>
                <a href="" class="btn btn-sm btn-primary" ng-click="redirect('/users/' + user.user_id + '/edit')">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT_USER' | translate }}
                </a>
            </p>
        </div>
        <br>
        <label>
            <b>{{ 'USER_NAME' | translate }}</b> <sup class="text-danger">*</sup>
        </label>
        <input type="text" class="form-control" ng-model="input" id="memberFullName" placeholder="{{ 'FULL_NAME' | translate }}" autofocus>
        <small class="form-text text-muted">{{ 'PLEASE_TYPE_IN_THE_FULL_NAME_OF_THE_USER_TO_CONFIRM' | translate }}</small>
    </div>
    <div class="card-footer right">
        <button class="btn btn-danger" role="button" ng-click="delete()" ng-disabled="input != user.fullname">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate }}
        </button>
    </div>
</div>
