<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{ 'USERS' | translate }}</div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/new/user')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm col-md col-lg">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_USERS' | translate }}</small>
                <br>
            </div>
        </div>

        <h6 class="text-muted">
            {{ 'USERS' | translate }}
        </h6>
        <div class="list-group" ng-if="unblocked_users && unblocked_users.length>0">
            <a href="" ng-click="redirect('/users/' + user.user_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="user in unblocked_users | filter: searchText | orderBy: ['university_name', 'institute_name', 'last_name', 'first_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b><span ng-if="user.title">{{user.title}}&nbsp;</span>{{user.first_name}} {{user.last_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="user.institute_name">
                            <small>{{user.institute_name}}&nbsp;|</small>
                        </span>
                        <span class="text-muted" ng-if="user.university_name">
                            <small>{{user.university_name}}</small>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!unblocked_users || unblocked_users.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
        <br>

        <h6 class="text-muted">
            {{ 'BLOCKED_USERS' | translate }}
        </h6>
        <div class="list-group" ng-if="blocked_users && blocked_users.length>0">
            <a href="" ng-click="redirect('/users/' + user.user_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="user in blocked_users | filter: searchText | orderBy: ['university_name', 'institute_name', 'last_name', 'first_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b><span ng-if="user.title">{{user.title}}&nbsp;</span>{{user.first_name}} {{user.last_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="user.institute_name">
                            <small>{{user.institute_name}}&nbsp;|</small>
                        </span>
                        <span class="text-muted" ng-if="user.university_name">
                            <small>{{user.university_name}}</small>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-hand-paper-o text-danger" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!blocked_users || blocked_users.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
    </div>
</div>
