<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'USERS' | translate }}</div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="list-group" ng-if="users && users.length>0">
            <a href="" ng-click="redirect('/users/' + user.user_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="user in users | orderBy: ['university_name', 'institute_name', 'last_name', 'first_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b><span ng-if="user.title">{{user.title}}&nbsp;</span>{{user.first_name}} {{user.last_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="user.institute_name">
                            <small>{{user.institute_name}}&nbsp;|</small>
                        </span>
                        <span class="text-muted" ng-if="user.university_name">
                            <small>{{user.university_name}}</small>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!users || users.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
    </div>
</div>
