<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createInstituteForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'NEW_INSTITUTE' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/institutes')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-block">
            <label>
                <b>{{ 'INSTITUTE_NAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createInstituteForm.document_email_address.$invalid && !createInstituteForm.document_email_address.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="new_institute.institute_name"
                    name="institute_name"
                    id="institute_name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputInstituteName"
                    required
                    autofocus>
                <span ng-show="createInstituteForm.institute_name.$error.required && !createInstituteForm.institute_name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>
                        <b>{{ 'UNIVERSITY' | translate }}*</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="university_id"
                        name="university_id"
                        ng-model="new_institute.university_id"
                        ng-options="university.university_id as university.university_name for university in universities"
                        ng-disabled="!authenticated_member.admin"
                        ng-change="load('institutes')"
                        required
                    >
                        <option value="">{{ 'PLEASE_SELECT_AN_UNIVERSITY' | translate }}</option>
                    </select>
                    <span ng-show="createInstituteForm.university_id.$error.required && !createInstituteForm.university_id.$pristine" class="text-danger">
                        <small>
                            {{ 'REQUIRED' | translate }}
                        </small>
                    </span>
                    <br>
                </div>
                <br>
            </div>
            <br>

            <div class="alert alert-warning" role="alert">
                <label>
                    <b>{{ 'FORMER_STATUS' | translate }}*</b>
                </label>
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EXPLANATION_OF_THE_FORMER_STATUS_OF_AN_INSTITUTE' | translate }}
                </p>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="former"
                            id="former_1"
                            ng-model="new_institute.former"
                            ng-value="true"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="former"
                            id="former_2"
                            ng-model="new_institute.former"
                            ng-value="false"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'FALSE' | translate }} ({{ 'DEFAULT' | translate }})</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
