<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">{{ 'INSTITUTE' | translate }}</div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right">
                <div class="btn-group">
                    <button class="btn btn-danger" role="button" ng-click="redirect('/institutes/' + insititute.insititute_id + '/delete')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/institutes')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card" style="background-color: #f7f7f9;">
            <div class="card-block">
                <div class="row">
                    <div class="col-1 right">
                        <h4 class="card-title">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </h4>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4 class="card-title">
                                    {{institute.institute_name}}
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="text-muted">
                                    {{institute.institute_name}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <h6 class="text-muted">
                    {{ 'RELATED_WORKING_GROUPS' | translate }}
                </h6>
                <div class="list-group" ng-if="institute.working_groups && institute.working_groups.length>0">
                    <a href="" ng-click="redirect('/working_groups/' + working_group.working_group_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="working_group in institute.working_groups | orderBy: ['working_group_name']">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{working_group.working_group_name}}</b>
                    </a>
                </div>
                <div class="list-group" ng-if="!institute.working_groups || institute.working_groups.length==0">
                    <div class="list-group-item middle">
                        - {{ 'NONE' | translate }} -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
