<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{ 'INSTITUTES' | translate }}</div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/new/institute')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm col-md col-lg">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_INSTITUTES' | translate }}</small>
                <br>
            </div>
        </div>
        <h6 class="text-muted">
            {{ 'INSTITUTES' | translate }}
        </h6>
        <div class="list-group" ng-if="current_institutes && current_institutes.length>0">
            <a href="" ng-click="redirect('/institutes/' + institute.institute_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="institute in current_institutes | filter: searchText | orderBy: ['institute_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-building" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{institute.institute_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="institute.university_name">
                            <small>{{institute.university_name}}</small>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!current_institutes || current_institutes.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
        <br>

        <h6 class="text-muted">
            {{ 'FORMER_INSTITUTES' | translate }}
        </h6>
        <div class="list-group" ng-if="former_institutes && former_institutes.length>0">
            <a href="" ng-click="redirect('/institutes/' + institute.institute_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="institute in former_institutes | filter: searchText | orderBy: ['institute_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{institute.institute_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="institute.university_name">
                            <small>{{institute.university_name}}</small>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-ban text-danger" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!former_institutes || former_institutes.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
    </div>
</div>
