node_modules/*
ssl/*
public/bower_components/*
public/files/temp/*
public/files/custom/*
sql/schema/examples.sql
sql/schema/defaults.sql
*.env
*.log
*.DS_Store
.securestorage.json
.dejavuerc
.idea/*

