{
    "DBPATH": "/home/user/desktop/", // Path to Keepass Database
    "DBNAME": "ethics-app.kdbx", // Keepass Database Name
    "DBPASSWORD": "test", // Keepass Database Password
    "DBKEYFILE": "/home/user/desktop/ethics-app.key", // Keepass Database Keyfile
    "PASSWORD_LENGTH": 25 // Length of generated passwords
}