/*
  Sample Config
*/

module.exports = {
    environment : process.env.NODE_ENV || 'production',
    server_url : process.env.SERVER_URL || 'http://giv-ethics-app.uni-muenster.de',
    httpPort : process.env.HTTP_PORT || 5000,
    httpsPort : process.env.HTTPS_PORT || (5000 + 443),
    db_host : process.env.DB_HOST || 'localhost',
    db_port : process.env.DB_PORT || 5432,
    db_name : process.env.DB_NAME || 'ethics-app',
    db_user : process.env.DB_USER || 'username',
    db_password : process.env.DB_PW || 'password',
    db_ssl : process.env.DB_SSL || false,
    from_email_address : process.env.FROM || 'ifgi-ethics@uni-muenster.de',
    smtp_host : process.env.SMTP_HOST || 'smtp.gmail.com',
    smtp_port : process.env.SMTP_PORT || 465,
    smtp_ssl : process.env.SMTP_SSL || true,
    smtp_email_address : process.env.SMTP_EMAIL || 'example@gmail.com',
    smtp_password : process.env.SMTP_PW || 'password',
    jwtSecret : process.env.JWTSECRET || 'superSecretKey'
}
