/*
  Sample Config
*/

module.exports = {
    environment: 'production',
    server_url: 'http://giv-ethics-app.uni-muenster.de',
    server_port: 8000,
    httpPort: 5000,
    httpsPort: 5443,
    postgres_host: 'localhost',
    postgres_port: 5432,
    postgres_db_name: 'ethics-app',
    postgres_username: 'username',
    postgres_password: 'password',
    postgres_ssl: false,
    from_email_address: 'ifgi-ethics@uni-muenster.de',
    smtp_host: 'smtp.gmail.com',
    smtp_port: 465,
    smtp_ssl: true,
    smtp_email_address: 'example@gmail.com',
    smtp_password: 'password',
    jwtSecret: 'secret'
}
