<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">

        <!-- BUTTONS -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <div class="btn-group" role="group" aria-label="buttons">
                    <button type="button" class="btn btn-secondary" ng-click="editMember()" ng-if="member.member_id==authenticated_member.member_id || authenticated_member.admin">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteMember()" ng-if=" authenticated_member.admin">
                        <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <br>

        <!-- Profile -->
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <h4 class="card-title">
                            <span ng-if="member.admin">
                                <i class="fa fa-user-secret" aria-hidden="true"></i>
                            </span>
                            <span ng-if="!member.admin">
                                <span ng-if="member.member_id!=authenticated_member.member_id">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                                <span ng-if="member.member_id==authenticated_member.member_id">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                </span>
                            </span>
                        </h4>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                        <h4 class="card-title">
                            <span ng-if="member.title">{{member.title}} </span>{{member.first_name}} {{member.last_name}}
                        </h4>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 right">
                        <span ng-if="member.subscribed" class="badge badge-success">
                            <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SUBSCRIBED' | translate }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span ng-if="member.institute">
                                {{member.institute}}<br>
                            </span>
                            <span ng-if="member.research_lab">
                                ({{member.research_lab}})
                            </span>
                        </h6>
                        <p>
                            <b>{{ 'OFFICE' | translate }}</b>: {{member.office_room_number}}
                        </p>
                        <span ng-if="member.office_phone_number">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;
                            <a href="tel:{{member.office_phone_number}}">{{member.office_phone_number}}</a>
                            <br>
                        </span>
                        <span ng-if="member.office_email_address">
                            <i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;&nbsp;
                            <a href="mailto:{{member.office_email_address}}">
                                {{member.office_email_address}}
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Member's reviews -->
            <div class="list-group list-group-flush">
                <a href="" class="list-group-item list-group-item-action" ng-repeat="document in user.documents" ng-click="showDetails(document)">
                    <div class="row">
                        <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    <span class="badge badge-primary">
                                        {{ 'REV' | translate}}{{document.revision_version}}
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-5 col-lg-5">
                                    <b>{{document.document_title}}</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <i>
                                        <span ng-if="document.author_title_name">{{document.author_title_name}} </span>{{document.author_first_name}} {{document.author_last_name}}
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3 right">
                            <span class="tag" ng-class="{'badge-default': document.status==0 || document.status==1, 'badge-success': document.status==2 || document.status==6, 'badge-primary': document.status==3, 'badge-info': document.status==4, 'badge-warning': document.status=='5', 'badge-danger': document.status==7}">
                                <span ng-if="document.status==0">{{ 'INITIALISED' | translate }}</span>
                                <span ng-if="document.status==1">{{ 'UNSUBMITTED' | translate }}</span>
                                <span ng-if="document.status==2">{{ 'SUBMITTED' | translate }}</span>
                                <span ng-if="document.status==3">{{ 'REVIEW_REQUIRED' | translate }}</span>
                                <span ng-if="document.status==4">{{ 'UNDER_REVIEW' | translate }}</span>
                                <span ng-if="document.status==5">{{ 'PARTLY_ACCEPTED' | translate }}</span>
                                <span ng-if="document.status==6">{{ 'REVIEWED' | translate }}</span>
                                <span ng-if="document.status==7">{{ 'REJECTED' | translate }}</span>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 timestamp right">
                            {{document.updated}}
                        </div>
                    </div>
                </a>
            </div>
            <br>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="form-control btn btn-primary" role="button" ng-click="close()">
                            {{ 'CLOSE' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
