<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="documentEditTitleForm" ng-submit="saveDocument()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'CHANGE_DOCUMENT_SETTINGS' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <br>
            <label>
                <b>{{ 'DOCUMENT_TITLE' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': documentEditTitleForm.title.$invalid && !documentEditTitleForm.title.$pristine}">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        ng-model="updated_document.document_title"
                        name="document_title"
                        id="document_title"
                        placeholder="{{ 'DOCUMENT_TITLE' | translate }}*"
                        aria-describedby="inputTitle"
                        autofocus
                        required>
                    <span class="input-group-addon">
                        <span class="flag-icon flag-icon-gb"></span>
                    </span>
                </div>
                <span ng-show="documentEditTitleForm.title.$error.required && !documentEditTitleForm.title.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'INSTITUTE' | translate }}</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="institute_id"
                        name="institute_id"
                        ng-model="institute_id"
                        ng-options="institute.institute_id as institute.institute_name group by institute.university_name for institute in institutes | orderBy:['institute_name']"
                        ng-change="updateCourses()">
                        <option value="">{{ 'NO_INSTITUTE' | translate }}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'COURSE' | translate }}</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="course_id"
                        name="course_id"
                        ng-model="document.course_id"
                        ng-options="course.course_id as course.course_name group by course.season for course in courses | orderBy:[-'year', 'course_name']"
                        ng-disabled="institute_id == null || institute_id == '' ">
                        <option value="">{{ 'NO_COURSE' | translate }}</option>
                    </select>
                </div>
            </div>
            <br>
        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
