<!DOCTYPE html>
<div class="card">
    <div class="card-header middle" style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                {{ 'INTRO' | translate }}
            </div>
            <div class="col right" ng-if="document.status > 0">
                <button class="btn btn-primary" role="button" ng-click="cancel()">
                    {{ 'CLOSE' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <br>
        <div style="text-align: justify;">
            You will be asked a series of questions, based on which the EthicsApp will auto-generate 3 documents. You are required to use these documents in your experiment. The key document is the Informed Consent Form - both you and your participant should
            sign and keep a copy. See the example bellow.
        </div>
        <br>
        <!-- TODO: Insert images -->
        <br>
        <br>
    </div>
    <div class="card-footer right" ng-if="document.status == 0">
        <button class="btn btn-primary" role="button" ng-click="send()">
            {{ 'NEXT' | translate }}
        </button>
    </div>
</div>
