<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                {{ 'INTRO' | translate }}
            </div>
            <div class="col right" ng-if="document.status > 0">
                <button class="btn btn-secondary" role="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <br>
        <div style="text-align: justify;">
            You will be asked a series of questions, based on which the EthicsApp will auto-generate 3 documents. You are required to use these documents in your experiment. The key document is the Informed Consent Form - both you and your participant should
            sign and keep a copy. See the example bellow.
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img src="img/page1.png" width="100%" style="border: 1px solid #ccc;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img src="img/page2.png" width="100%" style="border: 1px solid #ccc;">
            </div>
        </div>
    </div>
    <div class="card-footer right" ng-if="document.status == 0">
        <button class="btn btn-primary" role="button" ng-click="send()">
            {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
</div>
