<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editAccountForm" ng-submit="save()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">{{ 'YOUR_ACCOUNT' | translate }}</div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-block">
            <label>
                <b>{{ 'EMAIL_ADDRESS' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editAccountForm.user_email_address.$invalid && !editAccountForm.user_email_address.$pristine}">
                <input
                    type="email"
                    class="form-control"
                    ng-model="updated_user.email_address"
                    name="user_email_address"
                    id="user_email_address"
                    placeholder="{{ 'EMAIL_ADDRESS' | translate }}*"
                    aria-describedby="inputEmailAddress"
                    required
                    autofocus
                    autocomplete="on"
                    disabled>
                <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_ADDRESS' | translate }}</small>
                <span ng-show="editAccountForm.user_email_address.$error.required && !editAccountForm.user_email_address.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label>
                        <b>{{ 'TITLE' | translate }}</b>
                    </label>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.title"
                            name="title"
                            id="title"
                            placeholder="{{ 'TITLE' | translate }}"
                            aria-describedby="inputTitle"
                            autocomplete="on">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'FIRST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editAccountForm.first_name.$invalid && !editAccountForm.first_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.first_name"
                            name="first_name"
                            id="first_name"
                            placeholder="{{ 'FIRST_NAME' | translate }}"
                            aria-describedby="inputFirstName"
                            required
                            autocomplete="on">
                        <span ng-show="editAccountForm.email_address.$error.required && !editAccountForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'LAST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editAccountForm.last_name.$invalid && !editAccountForm.last_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.last_name"
                            name="last_name"
                            id="last_name"
                            placeholder="{{ 'LAST_NAME' | translate }}"
                            aria-describedby="inputLastName"
                            required
                            autocomplete="on">
                        <span ng-show="editAccountForm.email_address.$error.required && !editAccountForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'UNIVERSITY' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editAccountForm.university_id.$invalid && !editAccountForm.university_id.$pristine }">
                        <select
                            class="custom-select form-control"
                            id="university_id"
                            name="university_id"
                            ng-model="university_id"
                            ng-options="university.university_id as university.university_name for university in universities | orderBy:['university_name']"
                            ng-change="updateInstitutes()">
                        </select>
                    </div>
                    <span ng-show="editAccountForm.university_id.$error.required && !editAccountForm.university_id.$pristine" class="text-danger">
                        <small>
                            {{ 'REQUIRED' | translate }}
                        </small>
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'INSTITUTE' | translate }}</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="institute_id"
                        name="institute_id"
                        ng-model="updated_user.institute_id"
                        ng-options="institute.institute_id as institute.institute_name for institute in institutes | orderBy:['institute_name']"
                        required>
                        <option value="">{{ 'PLEASE_SELECT_AN_INSTITUTE' | translate }}</option>
                    </select>
                </div>
            </div>
            <br>

        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
