<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                <span ng-if="tab==0">
                    {{ 'RELATED_COURSE' | translate }}
                </span>
                <span ng-if="tab==1">
                    {{ 'INTRO' | translate }}
                </span>
            </div>
            <div class="col right" ng-if="document.status > 0">
                <button class="btn btn-secondary" role="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Add optional reference to a course -->
    <div class="card-block" ng-if="tab==0">
        <div style="text-align: justify;">
            <p>{{ 'COURSE_DESCRIPTION_1' | translate }}</p>
            <p>{{ 'COURSE_DESCRIPTION_2' | translate }}</p>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>
                    <b>{{ 'UNIVERSITY' | translate }}</b>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                    <select
                        class="custom-select form-control"
                        id="university_id"
                        name="university_id"
                        ng-model="university_id"
                        ng-options="university.university_id as university.university_name for university in universities"
                        disabled>
                        <option value="">
                            {{ 'PLEASE_SELECT_AN_UNIVERSITY' | translate }}
                        </option>
                    </select>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>
                    <b>{{ 'INSTITUTE' | translate }}</b>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <select
                        class="custom-select form-control"
                        id="institute_id"
                        name="institute_id"
                        ng-model="institute_id"
                        ng-options="institute.institute_id as institute.institute_name for institute in institutes"
                        disabled>
                        <option value="">
                            {{ 'PLEASE_SELECT_AN_INSTITUTE' | translate }}
                        </option>
                    </select>
                </div>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label>
                    <b>{{ 'COURSE' | translate }}</b><small></small>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <select
                        class="custom-select form-control"
                        id="course_id"
                        name="course_id"
                        ng-model="updated_document.course_id"
                        ng-options="course.course_id as course.course_name group by course.season for course in courses"
                        ng-change="updateCourse(updated_document.course_id)"
                    >
                        <option value="">{{ 'NO_COURSE' | translate }}</option>
                    </select>
                </div>
                <br>
            </div>
        </div>

        <div ng-if="course !== null">
            <div class="card" style="background-color: #f7f7f9;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1 right">
                            <h4 class="card-title">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </h4>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h4 class="card-title">
                                        {{course.course_name}}
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <b>{{'LECTURERS' | translate}}</b>: {{course.lecturer}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Introduction -->
    <div class="card-block" ng-if="tab==1">
        <div style="text-align: justify;">
            {{ 'INTRODUCTION_TEXT_FRAGMENT_1' | translate }}<br><ol><br><li><b>{{ 'INTRODUCTION_TEXT_FRAGMENT_2' | translate }}</b><br></li><br>{{ 'INTRODUCTION_TEXT_FRAGMENT_3' | translate }}<br><br><li><b>{{ 'INTRODUCTION_TEXT_FRAGMENT_4' | translate }}</b><br><br>{{ 'INTRODUCTION_TEXT_FRAGMENT_5' | translate }}</li><br><li><b>{{ 'INTRODUCTION_TEXT_FRAGMENT_6' | translate }}</b><br><br>{{ 'INTRODUCTION_TEXT_FRAGMENT_7' | translate }}</li><br><li><b>{{ 'INTRODUCTION_TEXT_FRAGMENT_11' | translate }}</b><br><br>{{ 'INTRODUCTION_TEXT_FRAGMENT_12' | translate }}</li></ol><br> {{ 'INTRODUCTION_TEXT_FRAGMENT_8' | translate }}<b>{{ 'INTRODUCTION_TEXT_FRAGMENT_9' | translate }}</b>{{ 'INTRODUCTION_TEXT_FRAGMENT_10' | translate }}
        </div>
        <br>
    </div>
    <div class="card-footer right" ng-if="document.status == 0 && tab==0">
        <button class="btn btn-success btn-block-xs-only btn-block-sm-only" role="button" ng-click="save()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
        </button>
    </div>
    <div class="card-footer right" ng-if="document.status == 0 && tab==1">
        <button class="btn btn-primary btn-block-xs-only btn-block-sm-only" role="button" ng-click="send()">
            {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
</div>
