<!DOCTYPE html>
<div class="card">
    <div class="card-header " style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                {{ 'HELP' | translate }}
            </div>
            <div class="col right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/')">
                    {{ 'CLOSE' | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <br>
            TODO
        <br>
        <br>
    </div>
</div>
