<!DOCTYPE html>
<div class="card">
    <div class="card-header " style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                {{ 'HELP' | translate }}
            </div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h3>Frequently Asked Questions:</h3>
        <br>
        <b>Why can I not download the Documents after filling out all the forms?</b><br>
        Depending on the content of your study, ethical concerns may arise. In this case a Member of the Ethics-Committee needs to review your study and check for any ethical concerns. This may take some time.<br>
        <br>
        <b>When can I download the Documents?</b><br>
        You can download the generated Documents after your study has been approved by the Ethics-Committee. Please understand that depending on the avaiability of the Members as well as the current workload this may take some time. You will be notified once your documents are avaiable. If you need your Documents quick feel free to contact the Ethics-Comittee and politely ask for special treatment.<br>
        <br>
        <b>I realized I made a mistake while filling out the forms. What should I do?</b><br>
        If you have not yet submitted your Information you can simply navigate back and fix the mistake. If you have already submitted, please contact a Member of the Ethics-Committee to re-enable editing. Be aware that your progress through the Approval Process will be reset and your Document will need to be reviewed again.<br>
        <br>
        <b>Why do I need to provide so much information about my study?</b><br>
        In order for the Members of the Ethics-Comittee to correctly assess all possible concerns that could arise, they must thoroughly understand the study. This is only possible if you provide as much information as you possibly can. If critical Information remains disclosed, it is impossible for the Committe Members to provide a correct review of the Study.<br>
        <br>
        <b>I have changed my mind and want to delete my Document?</b><br>
        Deleting your Document yourself is currently not possible. If you have special reasons for Deletion please contact a Committee Member.<br>
        <br>
        <b>My University/Institute is not listed, what should I do?</b><br>
        If the University/Institute you are affiliated with does not show up in the list, please contact us directly.<br>
        <br>
        <h3>Troubleshooting:</h3>
        <br>
        <b>I forgot my Document-ID, what should I do?</b><br>
        Please click on the "<a href = "/user-client/recovery" >I forgot my Document-ID</a>" Button on the login page.<br>
        <br>
        <b>The App does not work!</b><br>
        If you encounter any problems with the Ethics-App, please contact us directly and we will look into the problem.<br>
        <br>
        <h3>Contact:</h3><br>
        If you experience any difficulties with the Ethics-App please contact us at <a href="mailto:webteam@uni-muenster.de?subject=[Ethics-App]">webteam@uni-muenster.de</a>.<br> Please refer to "[Ethics-App] - Problem with ________ " in the Subject Line.<br>
          
    </div>
</div>
