<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createWorkingGroupForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'NEW_WORKING_GROUP' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/working_groups')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-block">
            <label>
                <b>{{ 'WORKING_GROUP_NAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createWorkingGroupForm.working_group_name.$invalid && !createWorkingGroupForm.working_group_name.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="new_working_group.working_group_name"
                    name="working_group_name"
                    id="working_group_name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputWorkingGroupName"
                    required
                    autofocus>
                <span ng-show="createWorkingGroupForm.working_group_name.$error.required && !createWorkingGroupForm.working_group_name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>

             <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'UNIVERSITY' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createWorkingGroupForm.university_id.$invalid && !createWorkingGroupForm.university_id.$pristine}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-university" aria-hidden="true"></i>
                            </span>
                            <select
                                class="custom-select form-control"
                                id="university_id"
                                name="university_id"
                                ng-model="university_id"
                                ng-options="university.university_id as university.university_name for university in universities"
                                ng-disabled="!authenticated_member.admin"
                                ng-change="load('institutes')"
                                required
                            >
                                <option value="">
                                    {{ 'PLEASE_SELECT_AN_UNIVERSITY' | translate }}
                                </option>
                            </select>
                        </div>
                        <span ng-show="createWorkingGroupForm.university_id.$error.required && !createWorkingGroupForm.university_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'INSTITUTE' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createWorkingGroupForm.institute_id.$invalid && !createWorkingGroupForm.institute_id.$pristine}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-building" aria-hidden="true"></i>
                            </span>
                            <select
                                class="custom-select form-control"
                                id="institute_id"
                                name="institute_id"
                                ng-model="new_working_group.institute_id"
                                ng-options="institute.institute_id as institute.institute_name for institute in institutes"
                                ng-disabled="university_id == null"
                                required
                            >
                                <option value="">
                                    {{ 'PLEASE_SELECT_AN_INSTITUTE' | translate }}
                                </option>
                            </select>
                        </div>
                        <span ng-show="createWorkingGroupForm.institute_id.$error.required && !createWorkingGroupForm.institute_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>


            <label>
                <b>{{ 'FORMER_STATUS' | translate }}*</b>
            </label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group" ng-class="{'has-danger': createWorkingGroupForm.former.$invalid && !createWorkingGroupForm.former.$pristine }">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-archive" aria-hidden="true"></i>
                            </span>
                            <span class="input-group-addon" style="background-color: #FFFFFF;">
                                <label class="custom-control custom-radio" style="margin-bottom: 0px;">
                                    <input
                                    class="custom-control-input"
                                    type="radio"
                                    name="former"
                                    id="former_1"
                                    ng-model="new_working_group.former"
                                    ng-value="true"
                                    required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                                </label>
                            </span>
                            <span class="input-group-addon" style="background-color: #FFFFFF;">
                                <label class="custom-control custom-radio" style="margin-bottom: 0px;">
                                    <input
                                    class="custom-control-input"
                                    type="radio"
                                    name="former"
                                    id="former_2"
                                    ng-model="new_working_group.former"
                                    ng-value="false"
                                    required>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">{{ 'FALSE' | translate }} (d)</span>
                                </label>
                            </span>
                        </div>
                        <span ng-show="createWorkingGroupForm.former.$error.required && !createWorkingGroupForm.former.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                    <div class="alert alert-warning justified" role="alert">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EXPLANATION_OF_THE_FORMER_STATUS_OF_A_WORKING_GROUP' | translate }}
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-muted right">
                    <small>
                        * {{ 'REQUIRED' | translate }}&nbsp;&nbsp;|&nbsp;&nbsp;d {{ 'DEFAULT' | translate }}
                    </small>
                </div>
            </div>
        </div>
        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
            </button>
        </div>
    </form>
</div>
