<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-9">
                {{ 'WORKING_GROUP' | translate }}
            </div>
            <div class="col-3 right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/working_groups/' + working_group.working_group_id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h6>
            {{ 'DELETE_THIS_WORKING_GROUP' | translate }} <kbd>{{working_group.working_group_name}}</kbd>?
        </h6>
        <br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'ATTENTION' | translate }}</h4>
            <p>
                {{ 'EXPLANATION_OF_DELETING_A_WORKING_GROUP' | translate }}
            </p>
            <p>
                {{ 'ALTERNATIVE_WORKING_GROUP' | translate }}: <a href="" ng-click="redirect('/working_groups/' + working_group.working_group_id + '/edit')">{{ 'EDIT_WORKING_GROUP' | translate }}</a>
            </p>
        </div>
        <br>
        <label>
            <b>{{ 'WORKING_GROUP_NAME' | translate }}*</b>
        </label>
        <input type="text" class="form-control" ng-model="input" id="workingGroupName" placeholder="{{ 'WORKING_GROUP_NAME' | translate }}" autofocus>
        <small class="form-text text-muted">{{ 'PLEASE_TYPE_IN_THE_WORKING_GROUP_NAME_TO_CONFIRM' | translate }}</small>
    </div>
    <div class="card-footer right">
        <button class="btn btn-danger" role="button" ng-click="delete()" ng-disabled="input != working_group.working_group_name">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate }}
        </button>
    </div>
</div>
