<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editWorkingGroupForm" ng-submit="save()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'EDIT_WORKING_GROUP' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/working_groups/' + working_group.working_group_id)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-block">
            <label>
                <b>{{ 'INSTITUTE_NAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editWorkingGroupForm.document_email_address.$invalid && !editWorkingGroupForm.document_email_address.$pristine}">
                <input
                    type="text"
                    class="form-control"
                    ng-model="updated_working_group.working_group_name"
                    name="working_group_name"
                    id="working_group_name"
                    placeholder="{{ 'NAME' | translate }}"
                    aria-describedby="inputWorkingGroupName"
                    required
                    autofocus>
                <span ng-show="editWorkingGroupForm.working_group_name.$error.required && !editWorkingGroupForm.working_group_name.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <label>
                <b>{{ 'FORMER_STATUS' | translate }}*</b>
            </label>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-radio">
                        <input
                        class="custom-control-input"
                        type="radio"
                        name="former"
                        id="former_1"
                        ng-model="updated_working_group.former"
                        ng-value="true"
                        required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                    </label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="custom-control custom-radio">
                        <input
                        class="custom-control-input"
                        type="radio"
                        name="former"
                        id="former_2"
                        ng-model="updated_working_group.former"
                        ng-value="false"
                        required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'FALSE' | translate }}</span>
                    </label>
                </div>
            </div>
            <br>

        </div>

        <div class="card-footer right">
            <button class="btn btn-success" role="submit">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
            </button>
        </div>
    </form>
</div>
