<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'WORKING_GROUPS' | translate }}</div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm col-md col-lg">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_WORKING_GROUPS' | translate }}</small>
                <br>
            </div>
            <div class="col-12 col-sm-auto col-md-auto col-lg-auto right">
                <a href="" class="btn btn-secondary" ng-click="redirect('/new/working_group')">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CREATE' | translate }}
                </a>
                <br>
                <br>
            </div>
        </div>
        <h6 class="text-muted">
            {{ 'CURRENT_WORKING_GROUPS' | translate }}
        </h6>
        <div class="list-group" ng-if="current_working_groups && current_working_groups.length>0">
            <a href="" ng-click="redirect('/working_groups/' + working_group.working_group_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="working_group in current_working_groups | filter: searchText | orderBy: ['working_group_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{working_group.working_group_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="working_group.institute_name">
                            <small>{{working_group.institute_name}}</small>&nbsp;|
                        </span>
                        <span class="text-muted" ng-if="working_group.university_name">
                            <small>{{working_group.university_name}}</small>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!current_working_groups || current_working_groups.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
        <br>

        <h6 class="text-muted">
            {{ 'FORMER_WORKING_GROUPS' | translate }}
        </h6>
        <div class="list-group" ng-if="former_working_groups && former_working_groups.length>0">
            <a href="" ng-click="redirect('/working_groups/' + working_group.working_group_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="working_group in former_working_groups | filter: searchText | orderBy: ['working_group_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{working_group.working_group_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="working_group.institute_name">
                            <small>{{working_group.institute_name}}</small>&nbsp;|
                        </span>
                        <span class="text-muted" ng-if="working_group.university_name">
                            <small>{{working_group.university_name}}</small>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!former_working_groups || former_working_groups.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
    </div>
</div>
