<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{ 'WORKING_GROUPS' | translate }}</div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/new/working_group')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_WORKING_GROUPS' | translate }}</small>
                <br>
            </div>
            <!-- ORDER DOCUMENTS BY ATTRIBUTE -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon" style="background-color: #ffffff;">
                        <i class="fa fa-sort-numeric-asc" aria-hidden="true" ng-if="filter.orderby == 'created.asc' || filter.orderby == 'updated.asc'"></i>
                        <i class="fa fa-sort-numeric-desc" aria-hidden="true" ng-if="filter.orderby == 'created.desc' || filter.orderby == 'updated.desc'"></i>
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true" ng-if="filter.orderby == 'name.asc'"></i>
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true" ng-if="filter.orderby == 'name.desc'"></i>
                    </span>
                    <select class="form-control custom-select" ng-model="filter.orderby" ng-change="applyFilter()">
                        <option value="created.asc">{{ 'CREATED_ASC' | translate }}</option>
                        <option value="created.desc">{{ 'CREATED_DESC' | translate }}</option>
                        <option value="updated.asc">{{ 'UPDATED_ASC' | translate }}</option>
                        <option value="updated.desc">{{ 'UPDATED_DESC' | translate }}</option>
                        <option value="name.asc">{{ 'NAME_ASC' | translate }} [{{ 'DEFAULT' | translate }}]</option>
                        <option value="name.desc">{{ 'NAME_DESC' | translate }}</option>
                    </select>
                </div>
                <small class="form-text text-muted">{{ 'SORT_BY' | translate }}</small>
                <br>
            </div>
        </div>

        <!-- Sub-nav -->
        <ul class="nav nav-pills flex-column flex-sm-row flex-sm-wrap justify-content-start">
            <li class="nav-item">
                <a class="nav-link" href="" ng-class="{ 'active': !filter.former }" ng-click="changeTab(false)">
                    {{ 'WORKING_GROUPS' | translate }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-class="{ 'active': filter.former }" ng-click="changeTab(true)">
                    {{ 'FORMER_WORKING_GROUPS' | translate }}
                </a>
            </li>
        </ul>
        <br>

        <div class="list-group" ng-if="working_groups && working_groups.length>0">
            <a href="" ng-click="redirect('/working_groups/' + working_group.working_group_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="working_group in working_groups | filter: searchText">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{working_group.working_group_name}}</b>
                        &nbsp;
                        <span class="text-muted" ng-if="working_group.institute_name">
                            <small>{{working_group.institute_name}}</small>&nbsp;|
                        </span>
                        <span class="text-muted" ng-if="working_group.university_name">
                            <small>{{working_group.university_name}}</small>
                        </span>
                    </div>
                    <div ng-if="filter.former">
                        <span class="badge badge-default">
                            <i class="fa fa-archive" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'FORMER' | translate }}
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!working_groups || working_groups.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>
        <br>

    </div>

    <div class="card-footer right">

        <!-- Pagination -->
        <nav aria-label="pagination" id="pagination" ng-if="working_groups.length > 0">
            <ul class="pagination justify-content-center">
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(0)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset - filter.limit)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{'active': filter.offset == page.offset}" ng-repeat="page in pages">
                    <a href="" class="page-link" ng-click="changeOffset(page.offset)">
                        {{$index+1}}
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset + filter.limit)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pages[pages.length - 1].offset)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </a>
                </li>
            </ul>
        </nav>

        <nav ng-if="working_groups.length == 0">
            <ul>&nbsp;</ul>
        </nav>

    </div>
</div>
