<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">

        <div class="card" ng-show="tab==1">
            <form class="form-horizontal" name="documentEditForm" ng-submit="saveDocument()">
                <div class="card-header middle" style="font-size: 20pt;">
                    {{ 'YOUR_DOCUMENT_TITLE' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <label>
                        <b>{{ 'DOCUMENT_TITLE' | translate }}</b>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="updated_document.document_title" placeholder="{{ 'TITLE' | translate }}*" aria-describedby="inputTitle" autofocus>
                        <span class="input-group-addon">
                            <span class="flag-icon flag-icon-gb"></span>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="card-footer">
                    <div class="col-xs-6">
                        <button class="form-control btn btn-secondary" role="button" ng-click="cancel()">
                            {{ 'CANCEL' | translate }}
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="form-control btn btn-success" role="submit">
                            {{ 'SAVE' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
