<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab>0">
        <form class="form-horizontal" name="documentForm" ng-submit="save(true)">

            <!-- Tab 1: INTRO -->
            <div class="card" ng-show="tab==1">
                <div class="card-header middle" style="font-size: 20pt;">
                    {{ 'GETTING_STARTED' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <div style="text-align: justify;">
                        You will be asked a series of questions, based on which the Ethics-app will auto-generate documents for your experiment. The key document is the informed consent form - both you and your participant should
                        sign and keep a copy. See the example bellow.
                    </div>
                    <br>
                    <!-- TODO: Insert images -->
                    <br>
                    <br>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="" class="form-control btn btn-primary" ng-click="confirmIntro()">
                                {{ 'OKAY' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Tab 2: DESCRIPTIONS -->
            <div class="card" ng-show="tab==2">
                <div class="card-header middle" style="font-size: 20pt;">
                    {{ 'STUDY_DESCRIPTION' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <div style="text-align: justify;">
                        This form will be used to automatically generate the informed consent form that every participant of your study will have to sign. Please fill out the English version and optionally the German version. Depending on the language(s), you will receive the informed consent forms for your experiment.
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 middle">
                            Please select the language, in which you want to generate the informed consent forms:
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-6 middle">
                            <span class="flag-icon flag-icon-gb"></span>&nbsp;&nbsp;<b>{{ 'ENGLISH' | translate }}</b>
                            <small class="form-text text-muted">
                                ({{ 'REQUIRED' | translate }})
                            </small>
                        </div>
                        <div class="col-xs-6 middle">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" ng-model="latest_revision.de.used">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">
                                    <span class="flag-icon flag-icon-de"></span>&nbsp;&nbsp;<b>{{ 'GERMAN' | translate }}</b>
                                </span>
                                <small class="form-text text-muted">
                                    ({{ 'OPTIONAL' | translate }})
                                </small>
                            </label>
                        </div>
                    </div>
                    <br>

                    <!-- 1. study description title -->
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justified">
                                    <label for="descriptionTitle">
                                        <b>1. {{ 'DESCRIPTION_1' | translate }}</b>
                                    </label>
                                </div>
                                <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 right">
                                    <small>
                                        <a href="">{{ 'REVISIONS' | translate}}</a> | <a href="">{{ 'COMMENTS' | translate}}</a>
                                    </small>
                                </div>-->
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group" ng-class="{'has-danger': documentForm.en_title.$invalid && !documentForm.en_title.$pristine }">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="latest_revision.en.title" name="en_title" id="en_title" placeholder="{{ 'TITLE' | translate }}*" aria-describedby="descriptionTitle" required autocomplete="on" autofocus>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    COMMENTS!
                                </div>-->
                            </div>

                            <div ng-show="latest_revision.de.used">
                                <!--<div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7"></div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 right">
                                        <small>
                                            <a href="">{{ 'REVISIONS' | translate}}</a> | <a href="">{{ 'COMMENTS' | translate}}</a>
                                        </small>
                                    </div>
                                </div>-->
                                <div
                                    class="form-group"
                                    ng-class="{'has-danger': documentForm.de_title.$invalid && !documentForm.de_title.$pristine }">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="latest_revision.de.title" name="de_title" id="de_title" placeholder="{{ 'TITLE' | translate }}*" aria-describedby="descriptionTitle" required autocomplete="on">
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 2. study description researcher -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionResearcher">
                                    <b>2.
                                        {{ 'DESCRIPTION_2' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="latest_revision.en.researcher" placeholder="{{ 'NAME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="latest_revision.de.researcher" placeholder="{{ 'NAME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 3. study description time -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionTime">
                                    <b>3.
                                        {{ 'DESCRIPTION_3' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="latest_revision.en.study_time" placeholder="{{ 'TIME' | translate }}*" aria-describedby="descriptionTime" required autocomplete="on">
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="latest_revision.de.study_time" placeholder="{{ 'TIME' | translate }}*" aria-describedby="descriptionTime" required autocomplete="on">
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 4. study description purpose -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionPurpose">
                                    <b>4.
                                        {{ 'DESCRIPTION_4' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'PURPOSE' | translate }}*" ng-model="latest_revision.en.purpose" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'PURPOSE' | translate }}*" ng-model="latest_revision.de.purpose" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 5. study description procedure -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionProcedure">
                                    <b>5.
                                        {{ 'DESCRIPTION_5' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'PROCEDURE' | translate }}*" ng-model="latest_revision.en.procedure" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'PROCEDURE' | translate }}*" ng-model="latest_revision.de.procedure" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 6. study description duration -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionDuration">
                                    <b>6.
                                        {{ 'DESCRIPTION_6' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'DURATION' | translate }}*" ng-model="latest_revision.en.duration" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'DURATION' | translate }}*" ng-model="latest_revision.de.duration" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 7. study description risks -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionRisks">
                                    <b>7.
                                        {{ 'DESCRIPTION_7' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'RISKS' | translate }}*" ng-model="latest_revision.en.risks" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'RISKS' | translate }}*" ng-model="latest_revision.de.risks" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 8. study description benefits -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="descriptionBenefits">
                                    <b>8.
                                        {{ 'DESCRIPTION_8' | translate }}</b>
                                </label>
                                <div>
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'BENEFITS' | translate }}*" ng-model="latest_revision.en.benefits" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                                <div ng-show="latest_revision.de.used">
                                    <div class="input-group">
                                        <textarea class="form-control" rows="5" placeholder="{{ 'BENEFITS' | translate }}*" ng-model="latest_revision.de.benefits" required></textarea>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-de"></span>
                                        </span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="" class="form-control btn btn-secondary" ng-click="previousTab()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SHOW_INTRO' | translate }}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="" class="form-control btn btn-primary" ng-click="nextTab()">
                                {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab 3: CONCERNS -->
            <div class="card" ng-show="tab==3">
                <div class="card-header middle" style="font-size: 20pt;">
                    {{ 'STUDY_CONCERNS' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <div style="text-align: justify;">
                        Complete the checklist below. If you have answered "yes" to any of the questions, please provide a brief overview of how you are going to ensure ethical conduct with regard to the given risk. This will be reviewed by the ifgi-Ethics Committee.
                        Remember that any ethical approval granted based on untrue or incomplete disclosure of your research procedure is invalid. The checklist is intended as a guideline and its role is to alert you in cases where you might be proposing an unethical study.
                        Make sure you discuss any concerns with the members of the ifgi’s Ethics Committee.
                    </div>
                    <br>

                    <!-- 1. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern1">
                                    <b>1. {{ 'CONCERN_1' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q01_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q01_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q01_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q01_explanation" ng-required="latest_revision.concerns.q01_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 2. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern2">
                                    <b>2. {{ 'CONCERN_2' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q02_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q02_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q02_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q02_explanation" ng-required="latest_revision.concerns.q02_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 3. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern3">
                                    <b>3. {{ 'CONCERN_3' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q03_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q03_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q03_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q03_explanation" ng-required="latest_revision.concerns.q03_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 4. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern4">
                                    <b>4.
                                        {{ 'CONCERN_4' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q04_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q04_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q04_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q04_explanation" ng-required="latest_revision.concerns.q04_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 5. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern5">
                                    <b>5.
                                        {{ 'CONCERN_5' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q05_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q05_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q05_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q05_explanation" ng-required="latest_revision.concerns.q05_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 6. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern6">
                                    <b>6.
                                        {{ 'CONCERN_6' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q06_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q06_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q06_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q06_explanation" ng-required="latest_revision.concerns.q06_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 7. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern7">
                                    <b>7.
                                        {{ 'CONCERN_7' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q07_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q07_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q07_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q07_explanation" ng-required="latest_revision.concerns.q07_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 8. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern8">
                                    <b>8.
                                        {{ 'CONCERN_8' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q08_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q08_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q08_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q08_explanation" ng-required="latest_revision.concerns.q08_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 9. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern9">
                                    <b>9.
                                        {{ 'CONCERN_9' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q09_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q09_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q09_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q09_explanation" ng-required="latest_revision.concerns.q09_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 10. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern10">
                                    <b>10.
                                        {{ 'CONCERN_10' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q10_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q10_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q10_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q10_explanation" ng-required="latest_revision.concerns.q10_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 11.1. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern11_1">
                                    <b>11.1.
                                        {{ 'CONCERN_11_1' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q11_1_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q11_1_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q11_1_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q11_1_explanation" ng-required="latest_revision.concerns.q11_1_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 11.2. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern11_2">
                                    <b>11.2.
                                        {{ 'CONCERN_11_2' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q11_2_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q11_2_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q11_2_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q11_2_explanation" ng-required="latest_revision.concerns.q11_2_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 12. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern12">
                                    <b>12.
                                        {{ 'CONCERN_12' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q12_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q12_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q12_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q12_explanation" ng-required="latest_revision.concerns.q12_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 13. concern -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="cornern13">
                                    <b>13.
                                        {{ 'CONCERN_13' | translate }}?</b>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q13_value" ng-value="false" required>
                                        {{ 'NO' | translate }}
                                    </span>
                                    <span class="input-group-addon">
                                        <input type="radio" ng-model="latest_revision.concerns.q13_value" ng-value="true" required>
                                        {{ 'YES' | translate }}
                                    </span>
                                </div>
                                <br>
                                <div class="input-group" ng-if="latest_revision.concerns.q13_value">
                                    <textarea class="form-control" rows="5" placeholder="{{ 'EXPLANATION' | translate }}*" ng-model="latest_revision.concerns.q13_explanation" ng-required="latest_revision.concerns.q13_value" autofocus></textarea>
                                    <span class="input-group-addon">
                                        <span class="flag-icon flag-icon-gb"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="" class="form-control btn btn-primary" ng-click="previousTab()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'BACK' | translate }}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="" class="form-control btn btn-primary" ng-click="nextTab()">
                                {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tab 4: SUBMIT -->
            <div class="card" ng-show="tab==4">
                <div class="card-header middle" style="font-size: 20pt;">
                    {{ 'SUBMIT' | translate }}
                </div>
                <div class="card-block">
                    <br>
                    <br>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="" class="form-control btn btn-primary" ng-click="previousTab()">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'BACK' | translate }}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <button class="form-control btn btn-success" role="submit">
                                {{ 'SUBMIT' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
