<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">

        <div class="card">
            <div class="card-header middle" style="font-size: 20pt;">
                {{ 'ETHICS_COMMITTEE' | translate }}
            </div>
            <div class="card-block">
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="member in members | orderBy: ['last_name', 'first_name']">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <h4 class="card-title">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </h4>
                                    </div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <h4 class="card-title">
                                            <span ng-if="member.title">{{member.title}} </span>{{member.first_name}} {{member.last_name}}
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <span ng-if="member.institute">
                                                {{member.institute}}<br>
                                            </span>
                                            <span ng-if="member.research_lab">
                                                ({{member.research_lab}})
                                            </span>
                                        </h6>
                                        <p>
                                            <b>{{ 'OFFICE' | translate }}</b>: {{member.office_room_number}}
                                        </p>
                                        <span ng-if="member.office_phone_number">
                                            <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <a href="tel:{{member.office_phone_number}}">{{member.office_phone_number}}</a>
                                            <br>
                                        </span>
                                        <span ng-if="member.office_email_address">
                                            <i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <a href="mailto:{{member.office_email_address}}">
                                                {{member.office_email_address}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="form-control btn btn-primary" role="button" ng-click="cancel()">
                            {{ 'CLOSE' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
