<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="createMemberForm" ng-submit="send()">
        <div class="card-header" style="font-size: 20pt;">
            <div class="row">
                <div class="col">
                    {{ 'NEW_MEMBER' | translate }}
                </div>
                <div class="col right">
                    <button class="btn btn-secondary" role="button" ng-click="redirect('/members')">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-block">
            <label>
                <b>{{ 'USERNAME' | translate }}*</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': createMemberForm.member_email_address.$invalid && !createMemberForm.member_email_address.$pristine}">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </div>
                    <input
                        type="email"
                        class="form-control"
                        ng-model="new_member.email_address"
                        name="member_email_address"
                        id="member_email_address"
                        placeholder="{{ 'EMAIL_ADDRESS' | translate }}"
                        aria-describedby="inputEmailAddress"
                        required
                        autofocus
                        autocomplete="on"
                    >
                </div>
                <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_ADDRESS' | translate }}</small>
                <span ng-show="createMemberForm.member_email_address.$error.required && !createMemberForm.member_email_address.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
                <span ng-show="createMemberForm.member_email_address.$error.email && !createMemberForm.member_email_address.$pristine" class="text-danger">
                    <small>
                        {{ 'NO_VALID_EMAIL_ADDRESS' | translate }}
                    </small>
                </span>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'PASSWORD' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.password.$invalid && !createMemberForm.password.$pristine}">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <input
                                type="password"
                                class="form-control"
                                ng-model="new_member.password"
                                name="password"
                                id="password"
                                placeholder="{{ 'PASSWORD' | translate }}"
                                aria-describedby="inputPassword"
                                ng-minlength="14"
                                required
                            >
                        </div>
                        <small class="form-text text-muted">{{ 'MIN_LENGTH' | translate }}</small>
                        <span ng-show="createMemberForm.password.$error.required && !createMemberForm.password.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <span ng-show="createMemberForm.password.$error.minlength && !createMemberForm.password.$pristine" class="text-danger">
                            <small>
                                {{ 'TOO_SHORT' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        <b>{{ 'REPEATED_PASSWORD' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.repeated_password.$invalid && !createMemberForm.repeated_password.$pristine}">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <input
                                type="password"
                                class="form-control"
                                ng-model="repeated_password"
                                name="repeated_password"
                                id="repeated_password"
                                placeholder="{{ 'PASSWORD' | translate }}"
                                aria-describedby="inputPassword"
                                ng-minlength="14"
                                required
                            >
                        </div>
                        <small class="form-text text-muted">{{ 'MIN_LENGTH' | translate }}</small>
                        <span ng-show="createMemberForm.repeated_password.$error.required && !createMemberForm.repeated_password.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <span ng-show="createMemberForm.repeated_password.$error.minlength && !createMemberForm.repeated_password.$pristine" class="text-danger">
                            <small>
                                {{ 'TOO_SHORT' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label>
                        <b>{{ 'TITLE' | translate }}</b>
                    </label>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_member.title"
                            name="title"
                            id="title"
                            placeholder="{{ 'TITLE' | translate }}"
                            aria-describedby="inputTitle"
                            autocomplete="on">
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'FIRST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.first_name.$invalid && !createMemberForm.first_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_member.first_name"
                            name="first_name"
                            id="first_name"
                            placeholder="{{ 'FIRST_NAME' | translate }}"
                            aria-describedby="inputFirstName"
                            required
                            autocomplete="on">
                        <span ng-show="createMemberForm.first_name.$error.required && !createMemberForm.first_name.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'LAST_NAME' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.last_name.$invalid && !createMemberForm.last_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_member.last_name"
                            name="last_name"
                            id="last_name"
                            placeholder="{{ 'LAST_NAME' | translate }}"
                            aria-describedby="inputLastName"
                            required
                            autocomplete="on">
                        <span ng-show="createMemberForm.last_name.$error.required && !createMemberForm.last_name.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'UNIVERSITY' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.university_id.$invalid && !createMemberForm.university_id.$pristine }">
                        <select
                            class="custom-select form-control"
                            id="university_id"
                            name="university_id"
                            ng-model="university_id"
                            ng-options="university.university_id as university.university_name for university in universities"
                            ng-disabled="!authenticated_member.admin"
                            ng-change="load('institutes')"
                            required
                        >
                            <option value="">{{ 'PLEASE_SELECT_AN_UNIVERSITY' | translate }}</option>
                        </select>
                        <span ng-show="createMemberForm.university_id.$error.required && !createMemberForm.university_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'INSTITUTE' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.institute_id.$invalid && !createMemberForm.institute_id.$pristine }">
                        <select
                            class="custom-select form-control"
                            id="institute_id"
                            name="institute_id"
                            ng-model="institute_id"
                            ng-options="institute.institute_id as institute.institute_name for institute in institutes"
                            ng-disabled="university_id == null"
                            required
                        >
                            <option value="">{{ 'PLEASE_SELECT_AN_INSTITUTE' | translate }}</option>
                        </select>
                        <span ng-show="createMemberForm.institute_id.$error.required && !createMemberForm.institute_id.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <br>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'WORKING_GROUP' | translate }}*</b>
                    </label>
                    <select
                        class="custom-select form-control"
                        id="working_group_id"
                        name="working_group_id"
                        ng-model="new_member.working_group_id"
                        ng-options="working_group.working_group_id as working_group.working_group_name for working_group in working_groups"
                        ng-disabled="institute_id == null"
                        required
                    >
                        <option value="">{{ 'PLEASE_SELECT_A_WORKING_GROUP' | translate }}</option>
                    </select>
                    <span ng-show="createMemberForm.working_group_id.$error.required && !createMemberForm.working_group_id.$pristine" class="text-danger">
                        <small>
                            {{ 'REQUIRED' | translate }}
                        </small>
                    </span>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'OFFICE_ROOM_NUMBER' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.office_room_number.$invalid && !createMemberForm.office_room_number.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="new_member.office_room_number"
                            name="office_room_number"
                            id="office_room_number"
                            placeholder="{{ 'ROOM_NUMBER' | translate }}"
                            aria-describedby="inputOfficeRoomNumber"
                            >
                        <span ng-show="createMemberForm.office_room_number.$error.required && !createMemberForm.office_room_number.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'OFFICE_PHONE_NUMBER' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.office_phone_number.$invalid && !createMemberForm.office_phone_number.$pristine }">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                            </div>
                            <input
                                type="tel"
                                class="form-control"
                                ng-model="new_member.office_phone_number"
                                name="office_phone_number"
                                id="office_phone_number"
                                placeholder="{{ 'PHONE_NUMBER' | translate }}"
                                aria-describedby="inputOfficePhoneNumber"
                                >
                        </div>
                        <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_NUMBER' | translate }}</small>
                        <span ng-show="createMemberForm.office_phone_number.$error.required && !createMemberForm.office_phone_number.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <label>
                        <b>{{ 'OFFICE_EMAIL_ADDRESS' | translate }}*</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': createMemberForm.office_email_address.$invalid && !createMemberForm.office_email_address.$pristine }">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope-square" aria-hidden="true"></i>
                            </div>
                            <input
                                type="email"
                                class="form-control"
                                ng-model="new_member.office_email_address"
                                name="office_email_address"
                                id="office_email_address"
                                placeholder="{{ 'EMAIL_ADDRESS' | translate }}"
                                aria-describedby="inputOfficeEmailAddress"
                                required
                                autocomplete="on"
                            >
                        </div>
                        <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_ADDRESS' | translate }}</small>
                        <span ng-show="createMemberForm.office_email_address.$error.required && !createMemberForm.office_email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                        <span ng-show="createMemberForm.office_email_address.$error.email && !createMemberForm.office_email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'NO_VALID_EMAIL_ADDRESS' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                <label>
                    <b>{{ 'ADMIN_ROLE' | translate }}*</b>
                </label>
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EXPLANATION_OF_THE_ADMIN_ROLE' | translate }}
                </p>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="admin"
                            id="admin_1"
                            ng-model="new_member.admin"
                            ng-value="true"
                            ng-disabled="new_member.former"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="admin"
                            id="admin_2"
                            ng-model="new_member.admin"
                            ng-value="false"
                            ng-disabled="new_member.former"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'FALSE' | translate }} ({{ 'DEFAULT' | translate }})</span>
                        </label>
                    </div>
                </div>
            </div>
            <br>

            <div class="alert alert-warning" role="alert">
                <label>
                    <b>{{ 'FORMER_STATUS' | translate }}*</b>
                </label>
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EXPLANATION_OF_THE_FORMER_STATUS_OF_A_MEMBER' | translate }}
                </p>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="former"
                            id="former_1"
                            ng-model="new_member.former"
                            ng-value="true"
                            ng-change="updateMember()"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'TRUE' | translate }}</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="former"
                            id="former_2"
                            ng-model="new_member.former"
                            ng-value="false"
                            ng-change="updateMember()"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'FALSE' | translate }} ({{ 'DEFAULT' | translate }})</span>
                        </label>
                    </div>
                </div>
            </div>
            <br>

            <div class="alert alert-warning" role="alert">
                <label>
                    <b>{{ 'SUBSCRIBED_STATUS' | translate }}*</b>
                </label>
                <p>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EXPLANATION_OF_THE_SUBSCRIBED_STATUS' | translate }}
                </p>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="subscribed"
                            id="subscribed_1"
                            ng-model="new_member.subscribed"
                            ng-value="true"
                            ng-disabled="new_member.former"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'TRUE' | translate }} ({{ 'DEFAULT' | translate }})</span>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="custom-control custom-radio">
                            <input
                            class="custom-control-input"
                            type="radio"
                            name="subscribed"
                            id="subscribed_2"
                            ng-model="new_member.subscribed"
                            ng-value="false"
                            ng-disabled="new_member.former"
                            required>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'FALSE' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer right">
          <button class="btn btn-success" role="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SEND' | translate }}
          </button>
        </div>
    </form>
</div>
