<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-9">
                <span ng-if="!member.admin">
                    {{ 'COMMITTEE_MEMBER' | translate }}
                </span>
                <span ng-if="member.admin">
                    {{ 'ADMINISTRATOR' | translate }}
                </span>
            </div>
            <div class="col-3 right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/members/' + member.member_id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h6>
            <span ng-if="member.admin">{{ 'DELETE_THIS_ADMINISTRATOR' | translate }}</span><span ng-if="!member.admin">{{ 'DELETE_THIS_MEMBER' | translate }}</span> <kbd>{{member.fullname}}</kbd>?
        </h6>
        <br>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'ATTENTION' | translate }}</h4>
            <p ng-if="!member.admin">
                {{ 'EXPLANATION_OF_DELETING_A_MEMBER' | translate }}
            </p>
            <p>
                <span ng-if="member.admin"><b>{{ 'ALTERNATIVE_ADMIN' | translate }}</b></span><span ng-if="!member.admin">{{ 'ALTERNATIVE_MEMBER' | translate }}</span>:
            </p>
            <p>
                <a href="" class="btn btn-sm btn-primary" ng-click="redirect('/members/' + member.member_id + '/edit')">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'EDIT_MEMBER' | translate }}
                </a>
            </p>
        </div>
        <br>
        <label>
            <b>{{ 'MEMBER_NAME' | translate }}*</b>
        </label>
        <input type="text" class="form-control" ng-model="input" id="memberFullName" placeholder="{{ 'FULL_NAME' | translate }}" autofocus>
        <small class="form-text text-muted">{{ 'PLEASE_TYPE_IN_THE_FULL_NAME_OF_THE_MEMBER_TO_CONFIRM' | translate }}</small>
    </div>
    <div class="card-footer right">
        <button class="btn btn-danger" role="button" ng-click="delete()" ng-disabled="input != member.fullname">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'DELETE' | translate }}
        </button>
    </div>
</div>
