html, body {
    font-family: 'Arial', sans-serif;
    font-size: x-small;
}

hr {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px;

}
