html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

.content {
    margin-top: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}


.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.justified {
    text-align: justify;
}

.inputs {
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment {
    padding-top: 3px;
    color: #ff4d4d;
}

.timestamp {
    font-size: 8pt;
    font-style: italic;
}

.link:hover {
    text-decoration: none;
}


.card-footer > .btn-block-xs-only, .btn-block-xs-only {
    margin-top: 1px;
    margin-bottom: 1px;
}


.bs-fix > .list-group > .list-group-item {
    background-color: #f7f7f9;
}

/* https://github.com/twbs/bootstrap/issues/21610 */
.bs-fix > .list-group, .list-group-item {
    display: block;
}

/* Boostrap fix for pagination */
#pagination > ul {
    margin-bottom: 0;
}

/* http://stackoverflow.com/questions/28191573/change-buttons-to-btn-block-on-mobile-screen-size */
@media (max-width: 575px) {
    .btn-block-xs-only {
        display: block;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .btn-block-sm-only {
        display: block;
        width: 100%;
    }
}

/* https://docs.angularjs.org/api/ng/directive/ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* https://stackoverflow.com/a/41078668 */
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 1.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation-iteration-count:infinite;
}

.checkmark__fill_green {
animation: fill_green .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__fill_red {
animation: fill_red .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__template {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
}

.checkmark__template_red {
  box-shadow: inset 0px 0px 0px #f64408;
}
.checkmark__template_green {
  box-shadow: inset 0px 0px 0px #7ac142;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 90;
  stroke-dashoffset: 100;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill_red {
  100% {
    box-shadow: inset 0px 0px 0px 30px #f64408;
  }
}
@keyframes fill_green {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
