<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8" ng-show="tab==1">
        <br>
        <div class="card">
            <div class="card-header middle" style="font-size: 20pt;">
                {{ 'INTRO' | translate }}
            </div>
            <div class="card-block">
                <br>
                <div style="text-align: justify;">
                    You will be asked a series of questions, based on which the EthicsApp will auto-generate 3 documents. You are required to use these documents in your experiment. The key document is the Informed Consent Form - both you and your participant should
                    sign and keep a copy. See the example bellow.
                </div>
                <br>
                <!-- TODO: Insert images -->
                <br>
                <br>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="" class="btn btn-primary btn-block" ng-click="send()">
                            {{ 'CLOSE' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
