<!DOCTYPE html>
<div class="card">
    <div class="card-header " style="font-size: 20pt;">
        <div class="row">
            <div class="col">
                {{ 'HELP' | translate }}
            </div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block justified">
        <h3>Troubleshooting:</h3>
        <br>
        <b>I forgot my password, what should I do?</b><br>
        Please click on the "<a href="/member-client/recovery" >Forgot your password?</a>" button on the login page.<br>
        <br>
        <b>The App does not work!</b><br>
        If you encounter any problems with the Ethics-App, please contact us directly and we will look into the problem.<br>
        <br>
        <h3>Contact:</h3><br>
        If you experience any difficulties with the Ethics-App please contact us at <a href="mailto:webteam@uni-muenster.de?subject=[Ethics-App]">webteam@uni-muenster.de</a>.<br> Please refer to "[Ethics-App] - Problem with ________ " in the Subject Line.<br>
    </div>
</div>
