<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Termo de Consentimento Livre e Esclarecido</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="firstpage">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%; text-align: left;">
                        <img src="images/{{document.institute_logo}}" alt="{{document.institute_name}}" height="45px">
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <img src="images/{{document.university_logo}}" alt="{{document.university_name}}" height="45px">
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>

            <h1 style="width:100%; text-align: center;">Termo de Consentimento Livre e Esclarecido</h1>
            <h3 style="width:100%; text-align: center;">Título de pesquisa: {{description.pt_title}}</h3>
            <h5 style="width:100%; text-align: center;">Revisão: {{revision.version}}</h5>

            <br>
            <p>
                Prezado Participante,
            </p>
            <p>
                Obrigado por participar desse estudo.
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Pesquisador(es):</b><br>
                {{description.pt_researcher}}
            </p>
            <p style="text-align: justify;">
                <b>Proposta da pesquisa:</b><br>
                {{description.pt_purpose}}
            </p>
            <p style="text-align: justify;">
                <b>Procedimento:</b><br>
                {{description.pt_procedure}}
            </p>
            <p style="text-align: justify;">
                <b>Duração:</b><br>
                {{description.pt_duration}}
            </p>
            <p style="text-align: justify;">
                <b>Riscos Potenciais:</b><br>
                {{description.pt_risks}}
            </p>
            <p style="text-align: justify;">
                <b>Benefícios:</b><br>
                {{description.pt_benefits}}
            </p>
        </div>
        <div class="secondpage" style="page-break-before: always;">
            <br>
            <p>
                Você está livre para parar, desistir da pesquisa, e retrair seus dados <b>a qualquer momento durante esse estudo</b> sem maiores consequências.<br>
                <b>Se você tiver alguma dúvida, por favor, pergunte agora.</b>
            </p>
            <p>
                Para mais perguntas e reclamações, você pode entrar em contato com o Comitê de Ética em Pesquisa do Instituto: &lt;{{support_email_address}}&gt;.
            </p>
            <br>
            <p>
                &#9634; Confirmo que estou a participar dessa pesqusia de forma voluntária.
            </p>
            <p>
                &#9634; Confirmo que que me foi permitido fazer perguntas as quais fui prontamente antendido(a).
            </p>
            <p>
                &#9634; Confirmo que este documento me foi apresentado antes do iníco do pesquisa.
            </p>
            <p>
                &#9634; Confirmo que eu entendi meu direito de parar esse estudo a qualquer momento.
            </p>
            {{#concern.q11_1_value}}
                <p>
                    &#9634; Eu concordo em ser áudio gravado durante o estudo.
                </p>
            {{/concern.q11_1_value}}
            {{#concern.q11_1_value}}
                <p>
                    &#9634; Eu concordo em ser vídeo gravado durante o estudo.
                </p>
            {{/concern.q11_1_value}}

            <br>
            <br>
            <table style="width:100%; font-size: small">
                <tr>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;">Data</td>
                    <td style="width: 50%; text-align: center;">Assinatura do pesquisador</td>
                </tr>
                <tr>
                    <td style="height: 40px;" colspan="2"></td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;"></td>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;"></td>
                    <td style="width: 50%; text-align: center;">Assinatura do participante</td>
                </tr>
                <tr>
                    <td style="height: 40px;" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        E-mail [Opcional]:<br>
                        <small>
                            Por favor, informe o seu endereço de e-mail caso deseja ser informado sobre estudos futuros.
                        </small>
                    </td>
                </tr>
            </table>
        </div>
        <div class="thirdpage" style="page-break-before: always;">
            <br>
            <p>
                &#9634; Li a declaração de proteção de dados referente a {{description.en_title}} e consinto voluntariamente com a coleta e o tratamento dos meus dados pessoais conforme descrito na declaração. Fui informado(a) sobre o meu direito de retirar o consentimento a qualquer momento, sem necessidade de justificar.
            </p>
            <br><br>
            <table style="width:100%;">
                <tr>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;">Assinatura do participante</td>
                </tr>
            </table>
        </div>
    </body>
</html>
