<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Informed Consent Form</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="firstpage">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%; text-align: left;">
                        <img src="images/{{document.institute_logo}}" alt="{{document.institute_name}}" height="45px">
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <img src="images/{{document.university_logo}}" alt="{{document.university_name}}" height="45px">
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>

            <h1 style="width:100%; text-align: center;">Einverständniserklärung</h1>
            <h3 style="width:100%; text-align: center;">Studientitel: {{description.de_title}}</h3>
            <h5 style="width:100%; text-align: center;">Revision: {{revision.version}}</h5>
            <br>
            <p>
                Liebe/r Teilnehmer/in,
            </p>
            <p>
                vielen Dank für Ihre Teilnahme an der Studie.
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Forscher:</b><br>
                {{description.de_researcher}}
            </p>
            <p style="text-align: justify;">
                <b>Zweck der Studie:</b><br>
                {{description.de_purpose}}
            </p>
            <p style="text-align: justify;">
                <b>Vorgehensweise:</b><br>
                {{description.de_procedure}}
            </p>
            <p style="text-align: justify;">
                <b>Dauer:</b><br>
                {{description.de_duration}}
            </p>
            <p style="text-align: justify;">
                <b>Potentielle Risiken:</b><br>
                {{description.de_risks}}
            </p>
            <p style="text-align: justify;">
                <b>Vergütung:</b><br>
                {{description.de_benefits}}
            </p>
        </div>
        <div class="secondpage" style="page-break-before: always;">
            <br>
            <p>
                Sie können <b>zu jeder Zeit</b> ohne Angabe von Gründen die Studie abbrechen und Ihre Antworten zurückziehen. Dies hat keine weiteren Konsequenzen für Sie. <b>Falls Sie noch Fragen haben, stellen Sie diese bitte jetzt.</b>
            </p>
            <p>
                Bei weiteren Fragen oder auch Beschwerden bitten wir Sie sich an die Ethik-Kommission des Instituts zu wenden: &lt;{{support_email_address}}&gt;.
            </p>
            <br>
            <p>
                &#9634; Ich bestätige, dass ich freiwillig an der Studie teilnehme.
            </p>
            <p>
                &#9634; Ich bestätige, dass ich meine Fragen stellen durfte und Antworten bekommen habe.
            </p>
            <p>
                &#9634; Ich bestätige, dass mir dieses Dokument vor der Studie ausgehändigt wurde.
            </p>
            <p>
                &#9634; Ich bestätige und habe verstanden, dass ich die Studie zu jedem Zeitpunkt ohne Konsequenzen abbrechen kann.
            </p>
            {{#concern.q11_1_value}}
                <p>
                    &#9634; Ich bestätige mein Einverständnis zu der Aufnahme von Tonmaterial während der Studie.
                </p>
            {{/concern.q11_1_value}}
            {{#concern.q11_1_value}}
                <p>
                    &#9634; Ich bestätige mein Einverständnis zu der Aufnahme von Videomaterial während der Studie.
                </p>
            {{/concern.q11_1_value}}
            <p>
                &#9634; Die Datenschutzerklärung [LINK*] für die Studie {{description.de_title}} habe ich zur Kenntnis genommen und willige freiwillig in die dort dargestellte Erhebung und weitere Verarbeitung meiner personenbezogenen Daten ein. Ich bin über mein Recht informiert worden, meine Einwilligung jederzeit ohne Angabe von Gründen widerrufen zu können.
            </p>
            <br>
            <br>
            <table style="width:100%;">
                <tr>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;">Datum</td>
                    <td style="width: 50%; text-align: center;">Unterschrift des Forschers</td>
                </tr>
                <tr>
                    <td style="height: 40px;" colspan="2"></td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;"></td>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;"></td>
                    <td style="width: 50%; text-align: center;">Unterschrift des Teilnehmers</td>
                </tr>
                <tr>
                    <td style="height: 40px;" colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        E-Mail-Adresse (optional)<br>
                        <small>
                            (Falls Sie über weitere Studien am Institut informiert werden wollen, tragen Sie hier Ihre E-Mail-Adresse ein)
                        </small>
                    </td>
                </tr>
            </table>
        </div>
        <div class="thirdpage" style="page-break-before: always;">
            <br>
            <p>
                &#9634; Die Datenschutzerklärung für die Studie {{description.de_title}} habe ich zur Kenntnis genommen und willige freiwillig in die dort dargestellte Erhebung und weitere Verarbeitung meiner personenbezogenen Daten ein. Ich bin über mein Recht informiert worden, meine Einwilligung jederzeit ohne Angabe von Gründen widerrufen zu können.
            </p>
            <br><br>
            <table style="width:100%;">
                <tr>
                    <td style="width: 50%; text-align: center;">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 50%; text-align: center;">Unterschrift des Teilnehmers</td>
                </tr>
            </table>
        </div>
    </body>
</html>
