 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cover sheet</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="firstpage">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%; text-align: left;">
                        <img src="images/{{document.institute_logo}}" alt="{{document.institute_name}}" height="45px">
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <img src="images/{{document.university_logo}}" alt="{{document.university_name}}" height="45px">
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <h1 style="width:100%; text-align: center;">Cover sheet for research study</h1>
            <br>
            <p style="text-align: justify;">
                <b>Document ID:</b>
            </p>
            <p style="border: 2px solid black; padding: 10px; color: red">
                {{document.document_id}}
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Revision:</b>
            </p>
            <p style="border: 2px solid black; padding: 10px; color: red">
                {{revision.version}}
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Date of last Revision:</b>
            </p>
            <p style="border: 2px solid black; padding: 10px; color: red">
                {{revision.updated}}
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Name of the Researcher:</b>
            </p>
            <p style="border: 2px solid black; padding: 10px; color: red">
                {{description.en_researcher}}
            </p>
            <br>
            <p style="text-align: justify;">
                <b>Title of study:</b>
            </p>
            <p style="border: 2px solid black; padding: 10px; color: red">
                {{document.document_title}}
            </p>
     </div>
</body>