<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'COMMITTEE' | translate }}</div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <br>
        <h6 class="text-muted">
            {{ 'MEMBERS' | translate }}
        </h6>
        <div class="list-group" ng-if="members && members.length>0">
            <a href="" ng-click="redirect('/members/' + member.member_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="member in members | orderBy: ['last_name', 'first_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b><span ng-if="member.title">{{member.title}}&nbsp;</span>{{member.first_name}} {{member.last_name}} </b>
                        <span class="text-muted" ng-if="member.research_lab">
                            <small>&nbsp;({{member.research_lab}})</small>
                        </span>
                    </div>
                    <div>
                        <span class="text-success" ng-if="member.subscribed">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                        <span class="text-danger" ng-if="!member.subscribed">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col text-muted right">
                <small>
                    <span class="text-success">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </span> = {{ 'AVAILABLE' | translate }}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <span class="text-danger">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </span> = {{ 'CURRENTLY_NOT_AVAILABLE' | translate }}
                </small>
            </div>
        </div>
        <br>

        <h6 class="text-muted">
            {{ 'FORMER_MEMBERS' | translate }}
        </h6>
        <div class="list-group" ng-if="former_members && former_members.length>0">
            <a href="" ng-click="redirect('/members/' + member.member_id)" class="list-group-item list-group-item-action" ng-repeat="member in former_members | orderBy: ['last_name', 'first_name']">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                &nbsp;&nbsp;
                <b><span ng-if="member.title">{{member.title}}&nbsp;</span>{{member.first_name}} {{member.last_name}} </b>
                <span class="text-muted" ng-if="member.research_lab">
                    <small>&nbsp;({{member.research_lab}})</small>
                </span>
            </a>
        </div>
        <div class="list-group" ng-if="!former_members || former_members.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
