<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="IFGI-Ethics-App">
        <title>Review required</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

        <style>

            body {
                background-color: #eeeeee;
            }

            hr {
                width: 98%;
            }

            h6 {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .header {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .left {
                text-align: left;
            }
            .middle {
                text-align: center;
            }
            .right {
                text-align: right;
            }

            .content, .header, .footer {
                padding-left: 1%;
                padding-right: 1%;
            }

            .content {
                padding-bottom: 25px;
            }

            .content_2 {
                padding-bottom: 5px;
            }

            .footer {
                padding-top: 20px;
                padding-bottom: 40px;
                font-size: 10pt;
            }

            .timestamp {
                font-size: 8pt;
                font-style: italic;
            }

        </style>

    </head>
    <body>
        <!-- Header -->
        <div class="header middle">
            <h1 class="display-4">
                Hi <span style="color: #0066ff;">{{user.first_name}}</span>!
            </h1>
            <br>
            <p class="lead">
                A document needs your review
            </p>
        </div>
        <div class="content">
            <div class="card">
                <div class="card-block">

                    <h6 class="card-subtitle text-muted">Document</h6>
                    <div class="list-group">
                        <a href="{{document.link}}" target="_blank" class="list-group-item list-group-item-action">
                            <div class="float-xs-right">
                                <span class="badge badge-pill badge-primary">
                                    rev{{revision.version}}
                                </span>
                            </div>
                            <code>{{document.document_id}}</code>
                            <div class="row">
                                <div class="col-xs-12 timestamp right">
                                    {{document._updated}}
                                </div>
                            </div>
                        </a>
                    </div>
                    <br>

                    <h6 class="card-subtitle text-muted">Author</h6>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i>{{author.title}} {{author.first_name}} {{author.last_name}}</i>
                        </li>
                    </ul>
                    <br>

                    <h6 class="card-subtitle text-muted">Study description</h6>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Title</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.title}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Researcher(s)</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.researcher}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Time</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.study_time}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Purpose</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.purpose}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Procedure</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.procedure}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Duration</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.duration}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Risks</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.risks}}</i>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                    <b>Benefits</b>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                    <i>{{description.benefits}}</i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br>

                    <h6 class="card-subtitle text-muted">Ethical concerns</h6>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="tag {{concern.q01_label}} badge-pill float-xs-right">
                                {{concern.q01_sign}}
                            </span>
                            <b>1. Will the study involve potentially vulnerable groups of participants or people who are unable or unauthorized to give informed consent?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q02_label}} badge-pill float-xs-right">
                                {{concern.q02_sign}}
                            </span>
                            <b>2. Will the study involve deception?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q03_label}} badge-pill float-xs-right">
                                {{concern.q03_sign}}
                            </span>
                            <b>3. Will the study involve discussion, judgment or presentation of strongly emotional or sensitive stimuli or topics?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q04_label}} badge-pill float-xs-right">
                                {{concern.q04_sign}}
                            </span>
                            <b>4. Will participants be required to eat or drink any potentially allergic substances?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q05_label}} badge-pill float-xs-right">
                                {{concern.q05_sign}}
                            </span>
                            <b>5. Will you be in the position of power in relation to your participants?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q06_label}} badge-pill float-xs-right">
                                {{concern.q06_sign}}
                            </span>
                            <b>6. Will there be any other live observers present who are invisible to the participant and whose presence will not be disclosed to the participant?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q07_label}} badge-pill float-xs-right">
                                {{concern.q07_sign}}
                            </span>
                            <b>7. Can any element of the procedure cause physical pain or more than mild discomfort?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q08_label}} badge-pill float-xs-right">
                                {{concern.q08_sign}}
                            </span>
                            <b>8. Can the study cause psychological stress, anxiety or negative emotions stronger than what is experienced naturally on an everyday basis outside of research?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q09_label}} badge-pill float-xs-right">
                                {{concern.q09_sign}}
                            </span>
                            <b>9. Will any additional information on your participants be obtained from third parties?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q10_label}} badge-pill float-xs-right">
                                {{concern.q10_sign}}
                            </span>
                            <b>10. Does the procedure involve potential moments when the participant is left without the supervision of a researcher in a potentially challenging or dangerous situation in an uncontrolled environment?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q11_1_label}} badge-pill float-xs-right">
                                {{concern.q11_1_sign}}
                            </span>
                            <b>11.1. Does the study involve audio or film recordings potentially identifying participants?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q11_2_label}} badge-pill float-xs-right">
                                {{concern.q11_2_sign}}
                            </span>
                            <b>11.2. If "yes": Will the study involve any recording without prior consent?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q12_label}} badge-pill float-xs-right">
                                {{concern.q12_sign}}
                            </span>
                            <b>12. Is any raw data from the study likely to be passed on to external partners?</b>
                        </li>
                        <li class="list-group-item">
                            <span class="tag {{concern.q13_label}} badge-pill float-xs-right">
                                {{concern.q13_sign}}
                            </span>
                            <b>13. Does the study involve collection of any information without obtaining an Informed Consent in a situation different from public observations or anonymous street surveys?</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_2">
            <p class="lead middle">
                Go to <a href="{{link}}" target="_blank">{{link}}</a> to review this document or click on the document-ID above.
            </p>
        </div>
        <hr>
        <footer class="footer middle">
            &copy; {{year}} <a href="https://www.uni-muenster.de/Geoinformatics/en/index.html" target="_blank">Institute for Geoinformatics</a>
        </footer>
    </body>
</html>
