<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-10">

        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>

            <!-- Document-ID -->
            <div class="col-xs-12 col-md-8">
                <div class="card" style="padding: 40px 10px 40px 10px;">
                    <center>
                        <p class="lead">
                            <b>{{ 'YOUR_DOCUMENT_ID' | translate }}</b>
                        </p>
                    </center>
                    <div class="card-block">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" ng-model="document_id" id="documentId" placeholder="{{ 'TITLE' | translate }}" autofocus disabled>
                            <span class="input-group-btn">
                                <button class="btn btn-lg btn-secondary" role="button" ng-click="copyToClipboard()">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="cancel()">
                                    {{ 'BACK' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-2"></div>
    </div>
</div>
<br>
