<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-10">

        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>

            <!-- Document -->
            <div class="col-xs-12 col-md-8">

                <!-- Descriptions -->
                <div class="card" style="padding: 40px 10px 40px 10px;" ng-show="page==0">
                    <center>
                        <p class="lead">
                            <b>{{ 'STUDY_DESCRIPTION' | translate }}</b>
                        </p>
                    </center>
                    <div class="card-block">
                        <div style="text-align: justify;">
                            This form will be used to automatically generate the Informed Consent Form that every participant of your study will have to sign. Please fill in the German and/or the English version depending on the language(s) in which you want your Informed
                            Consent Forms to be generated. Move your mouse over the
                            <kbd>i</kbd>
                            icon to see more details and some examples.
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 middle">
                                Please select the language, in which you want to generate the consent forms:
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-xs-6 middle">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" ng-model="en" disabled>
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description" style="color:#000000;">
                                        <span class="flag-icon flag-icon-gb"></span>&nbsp;&nbsp;<b>{{ 'ENGLISH' | translate }}*</b>
                                    </span>
                                </label>
                            </div>
                            <div class="col-xs-6 middle">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" ng-model="de">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">
                                        <span class="flag-icon flag-icon-de"></span>&nbsp;&nbsp;<b>{{ 'GERMAN' | translate }}</b>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <br>

                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

                        <!-- 1. study description title -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionTitle">
                                        <b>1.
                                            {{ 'DESCRIPTION_1' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="en.descriptions[0].value" placeholder="{{ 'TITLE' | translate }}*" aria-describedby="descriptionTitle" required autocomplete="on" autofocus>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="de.descriptions[0].value" placeholder="{{ 'TITLE' | translate }}*" aria-describedby="descriptionTitle" required autocomplete="on">
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 2. study description researcher -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionResearcher">
                                        <b>2.
                                            {{ 'DESCRIPTION_2' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="en.descriptions[1].value" placeholder="{{ 'NAME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="de.descriptions[1].value" placeholder="{{ 'NAME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 3. study description time -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionTime">
                                        <b>3.
                                            {{ 'DESCRIPTION_3' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="en.descriptions[2].value" placeholder="{{ 'TIME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="de.descriptions[2].value" placeholder="{{ 'TIME' | translate }}*" aria-describedby="descriptionResearcher" required autocomplete="on">
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 4. study description purpose -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionPurpose">
                                        <b>4.
                                            {{ 'DESCRIPTION_4' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'PURPOSE' | translate }}*" ng-model="en.descriptions[3].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'PURPOSE' | translate }}*" ng-model="de.descriptions[3].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 5. study description purpose -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionProcedure">
                                        <b>5.
                                            {{ 'DESCRIPTION_5' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'PROCEDURE' | translate }}*" ng-model="en.descriptions[4].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'PROCEDURE' | translate }}*" ng-model="de.descriptions[4].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 6. study description duration -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionDuration">
                                        <b>6.
                                            {{ 'DESCRIPTION_6' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'DURATION' | translate }}*" ng-model="en.descriptions[5].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'DURATION' | translate }}*" ng-model="de.descriptions[5].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 7. study description risks -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionRisks">
                                        <b>7.
                                            {{ 'DESCRIPTION_7' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'RISKS' | translate }}*" ng-model="en.descriptions[6].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'RISKS' | translate }}*" ng-model="de.descriptions[6].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 8. study description benefits -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="descriptionRisks">
                                        <b>8.
                                            {{ 'DESCRIPTION_8' | translate }}</b>
                                    </label>
                                    <div>
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'BENEFITS' | translate }}*" ng-model="en.descriptions[7].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-gb"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                    <div ng-if="de">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="5" placeholder="{{ 'BENEFITS' | translate }}*" ng-model="de.descriptions[7].value" required></textarea>
                                            <span class="input-group-addon">
                                                <span class="flag-icon flag-icon-de"></span>
                                            </span>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-xs-6"></div>
                            <div class="col-xs-6">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="nextPage()">
                                    {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Concerns -->
                <div class="card" style="padding: 40px 10px 40px 10px;" ng-show="page==1">
                    <center>
                        <p class="lead">
                            <b>{{ 'STUDY_CONCERNS' | translate }}</b>
                        </p>
                    </center>
                    <div class="card-block">
                        <div style="text-align: justify;">
                            Complete the checklist below. If you have answered "yes" to any of the questions, please provide a brief overview of how you are going to ensure ethical conduct with regard to the given risk. This will be reviewed by the ifgi-Ethics Committee.
                            Remember that any ethical approval granted based on untrue or incomplete disclosure of your research procedure is invalid. The checklist is intended as a guideline and its role is to alert you in cases where you might be proposing an unethical study.
                            Make sure you discuss any concerns with the members of the ifgi’s Ethics Committee.
                        </div>
                        <br>

                        <!-- 1. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern1">
                                        <b>1. {{ 'CONCERN_1' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[0].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[0].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[0].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[0].value" ng-required="concerns[0].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 2. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern2">
                                        <b>2. {{ 'CONCERN_2' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[1].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[1].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[1].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[1].value" ng-required="concerns[1].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 3. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern3">
                                        <b>3. {{ 'CONCERN_3' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[2].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[2].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[2].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[2].value" ng-required="concerns[2].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 4. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern4">
                                        <b>4. {{ 'CONCERN_4' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[3].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[3].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[3].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[3].value" ng-required="concerns[3].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 5. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern5">
                                        <b>5. {{ 'CONCERN_5' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[4].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[4].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[4].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[4].value" ng-required="concerns[4].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 6. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern6">
                                        <b>6. {{ 'CONCERN_6' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[5].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[5].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[5].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[5].value" ng-required="concerns[5].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 7. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern7">
                                        <b>7. {{ 'CONCERN_7' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[6].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[6].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[6].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[6].value" ng-required="concerns[6].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 8. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern8">
                                        <b>8. {{ 'CONCERN_8' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[7].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[7].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[7].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[7].value" ng-required="concerns[7].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 9. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern9">
                                        <b>9. {{ 'CONCERN_9' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[8].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[8].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[8].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[8].value" ng-required="concerns[8].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 10. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern10">
                                        <b>10. {{ 'CONCERN_10' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[9].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[9].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[9].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[9].value" ng-required="concerns[9].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 11. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern11">
                                        <b>11. {{ 'CONCERN_11' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[10].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[10].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[10].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[10].value" ng-required="concerns[10].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 12.1. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern12">
                                        <b>12. {{ 'CONCERN_12' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[11].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[11].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[11].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[11].value" ng-required="concerns[11].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 12.2. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern13">
                                        <b>13. {{ 'CONCERN_13' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[12].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[12].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[12].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[12].value" ng-required="concerns[12].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- 13. concern -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cornern14">
                                        <b>13. {{ 'CONCERN_14' | translate }}?</b>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[13].value" ng-value="false" required> {{ 'NO' | translate }}
                                        </span>
                                        <span class="input-group-addon">
                                            <input type="radio" ng-model="concerns[13].value" ng-value="true" required> {{ 'YES' | translate }}
                                        </span>
                                        <input type="text" class="form-control" ng-model="concerns[13].comment" placeholder="{{ 'EXPLANATION' | translate }}*" ng-disabled="!concerns[13].value" ng-required="concerns[13].value" autofocus>
                                        <span class="input-group-addon">
                                            <span class="flag-icon flag-icon-gb"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="previousPage()">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'BACK' | translate }}
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="nextPage()">
                                    {{ 'NEXT' | translate }}&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMIT -->
                <div class="card" style="padding: 40px 10px 40px 10px;" ng-show="page==2">
                    <center>
                        <p class="lead">
                            <b>{{ 'SUBMIT' | translate }}</b>
                        </p>
                    </center>
                    <div class="card-block">
                        <div style="text-align: justify;"></div>
                        <br>

                        <div class="row">
                            <div class="col-xs-6">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="previousPage()">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'BACK' | translate }}
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="form-control btn btn-lg btn-success" role="button" ng-click="submit()">
                                    {{ 'SUBMIT' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-2"></div>
    </div>
</div>
<br>
