<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-10">

        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>

            <!-- Document -->
            <div class="col-xs-12 col-md-8">
                <div class="card" style="padding: 40px 10px 40px 10px;">
                    <center>
                        <p class="lead">
                            {{ 'DOCUMENT' | translate }}
                        </p>
                    </center>
                    <div class="card-block">
                        <div style="text-align: justify;">
                            status 7
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="confirmIntro()">
                                    {{ 'NEXT' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-2"></div>
    </div>
</div>
<br>
