<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-10">

        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>

            <!-- Document Introduction -->
            <div class="col-xs-12 col-md-8">
                <div class="card" style="padding: 40px 10px 40px 10px;">
                    <center>
                        <p class="lead">
                            {{ 'GETTING_STARTED' | translate }}
                        </p>
                    </center>
                    <div class="card-block">
                        <div style="text-align: justify;">
                            You will be asked a series of questions, based on which the EthicsApp will auto-generate 3 documents. You are required to use these documents in your experiment. The key document is the Informed Consent Form - both you and your participant should
                            sign and keep a copy. See the example bellow.
                        </div>
                        <br>
                        <!-- TODO: Insert images -->
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="form-control btn btn-lg btn-primary" role="button" ng-click="confirmIntro()">
                                    {{ 'NEXT' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-2"></div>
    </div>
</div>
<br>
