<br>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1 class="display-3">Welcome</h1>
            <p class="lead">This application by the Institut for Geoinformatics, Münster provides a easy way to create new helps to create formulars for your next study.</p>
            <hr class="m-y-2">
            <p>Please login or create a new document:</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Create</a>
            </p>
            <p>Test 9</p>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- template end -->
<br>
<br>
<br>
