<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-10">

        <!-- Headers -->
        <!-- Main -->
        <div class="middle" ng-show="tab<3">
            <center>
                <br>
                <h1 class="display-3">
                    {{ 'WELCOME' | translate }}
                </h1>
                <br>
                <p class="lead">
                    {{ 'WELCOME_MESSAGE' | translate }}
                </p>
                <br>
            </center>
        </div>

        <!-- New user -->
        <div class="middle" ng-show="tab==3">
            <center>
                <br>
                <h1 class="display-3">
                    {{ 'HI' | translate }}!
                </h1>
                <br>
                <p class="lead">
                    {{ 'NEW_USER' | translate }}:
                </p>
                <br>
            </center>
        </div>

        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-2"></div>
            <div class="col-xs-12 col-md-8">

                <!-- Tab 0 (Login by document id)-->
                <div class="card" ng-if="tab==0" style="padding: 40px 10px 40px 10px;">
                    <div class="card-block">
                        <form class="form-horizontal" name="loginForm" ng-submit="login()">
                            <input type="text" class="form-control form-control-lg" ng-model="login_document.document_id" placeholder="{{ 'DOCUMENT_ID' | translate }}*" aria-describedby="inputDocumentId" required autofocus autocomplete="on">
                            <br>
                            <button class="form-control btn btn-lg btn-success" role="submit">
                                {{ 'LOGIN' | translate }}
                            </button>
                            <br>
                            <br>
                            <div class="middle">
                                <a href="" ng-click="changeTab(1)">
                                    {{ 'CREATE_NEW_DOCUMENT' | translate }}
                                </a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="" ng-click="changeTab(2)">
                                    {{ 'FORGOT_YOUR_DOCUMENT_ID' | translate }}?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Tab 1 (Create new document) -->
                <div class="card" ng-if="tab==1" style="padding: 40px 10px 40px 10px;">
                    <div class="card-block">
                        <form class="form-horizontal" name="createForm" ng-submit="createDocument()">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" ng-model="new_document.document_title" placeholder="{{ 'DOCUMENT_TITLE' | translate }}*" aria-describedby="inputTitle" autofocus>
                                <span class="input-group-addon">
                                    <span class="flag-icon flag-icon-gb"></span>
                                </span>
                            </div>
                            <br>
                            <input type="email" class="form-control form-control-lg" ng-model="new_document.email_address" id="inputEmailAddress" placeholder="{{ 'EMAIL_ADDRESS' | translate }}*" required autocomplete="on">
                            <br>
                            <button class="form-control btn btn-lg btn-primary" role="submit">
                                {{ 'SUBMIT' | translate }}
                            </button>
                            <br>
                            <br>
                            <div class="middle">
                                <a href="" ng-click="changeTab(0)">
                                    {{ 'LOGIN' | translate }}
                                </a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="" ng-click="changeTab(2)">
                                    {{ 'FORGOT_YOUR_DOCUMENT_ID' | translate }}?
                                </a>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>

                <!-- Tab 2 (Recovery) -->
                <div class="card" ng-if="tab==2" style="padding: 40px 10px 40px 10px;">
                    <div class="card-block">
                        <form class="form-horizontal" name="recoveryForm" ng-submit="recovery()">
                            <input type="email" class="form-control form-control-lg" ng-model="recovery_user.email_address" id="inputRecoveryEmailAddress" placeholder="{{ 'EMAIL_ADDRESS' | translate }}*" required autofocus autocomplete="on">
                            <br>
                            <button class="form-control btn btn-lg btn-primary" role="submit">
                                {{ 'SEND_RECOVERY_EMAIL' | translate }}
                            </button>
                            <br>
                            <br>
                            <div class="middle">
                                <a href="" ng-click="changeTab(0)">
                                    {{ 'LOGIN' | translate }}
                                </a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="" ng-click="changeTab(1)">
                                    {{ 'CREATE_NEW_DOCUMENT' | translate }}
                                </a>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>

                <!-- Tab 3 (New user) -->
                <div class="card" ng-if="tab==3" style="padding: 40px 10px 40px 10px;">
                    <div class="card-block">
                        <form class="form-horizontal" name="userForm" ng-submit="createUser()">
                            <input type="text" class="form-control form-control-lg" ng-model="new_user.title" id="inputTitle" placeholder="{{ 'TITLE' | translate }}" autofocus>
                            <br>
                            <input type="text" class="form-control form-control-lg" ng-model="new_user.first_name" id="inputFirstName" placeholder="{{ 'FIRST_NAME' | translate }}*" required>
                            <br>
                            <input type="text" class="form-control form-control-lg" ng-model="new_user.last_name" id="inputLastName" placeholder="{{ 'LAST_NAME' | translate }}*" required>
                            <br>
                            <button class="form-control btn btn-lg btn-primary" role="submit">
                                {{ 'NEXT' | translate }}
                            </button>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>

                <!-- Tab 4 (loading) -->
                <div class="card" ng-if="tab==4" style="padding: 40px 10px 40px 10px;">
                    <div class="card-block middle">
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>
                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>
<br>
