<!DOCTYPE html>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <p class="lead">Please input your Email-address, to recieve all Document-IDs, which were created with this Email-address.</p>
            <hr class="m-y-2">
            <p>
                <form>
                    <label for="inputEmailAddress">{{ 'EMAIL' | translate }}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <b>@</b>
                        </span>
                        <input type="email" class="form-control" id="inputEmailAddress" ng-model="email_address" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required ng-model-options="{'allowInvalid': true}">
                    </div>
                    <br>
                    <a class="btn btn-primary" role="submit" ng-click="send()">{{ 'SEND' | translate }}</a>
                </form>
            </p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
