<!DOCTYPE html>
<div class="row">

    <!-- Left padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">

        <div class="card" style="padding: 40px 10px 40px 10px;">
            <center>
                <p class="lead">
                    <b>{{ 'YOUR_ACCOUNT' | translate }}</b>
                </p>
            </center>
            <div class="card-block">
                <form class="form-horizontal" name="userEditForm" ng-submit="saveUser()">
                    <input type="text" class="form-control form-control-lg" ng-model="updated_user.title" id="inputTitle" placeholder="{{ 'TITLE' | translate }}" autofocus autocomplete="on">
                    <br>
                    <input type="text" class="form-control form-control-lg" ng-model="updated_user.first_name" id="inputFirstName" placeholder="{{ 'FIRST_NAME' | translate }}*" required autocomplete="on">
                    <br>
                    <input type="text" class="form-control form-control-lg" ng-model="updated_user.last_name" id="inputLastName" placeholder="{{ 'LAST_NAME' | translate }}*" required autocomplete="on">
                    <br>
                    <input type="email" class="form-control form-control-lg" ng-model="updated_user.email_address" id="inputEmailAddress" placeholder="{{ 'EMAIL_ADDRESS' | translate }}*" required autocomplete="on">
                    <br>
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="form-control btn btn-lg btn-secondary" role="button" ng-click="cancel()">
                                {{ 'CANCEL' | translate }}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button class="form-control btn btn-lg btn-success" role="submit">
                                {{ 'SAVE' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
</div>
<br>
