<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">

        <!-- DOUCMENTS -->
        <div class="card" style="padding: 40px 10px 40px 10px;" ng-show="tab==1">

            <div class="card-block">
            </div>
            <div class="list-group">
                <a href="" ng-click="goTo(document.document_id)" class="list-group-item list-group-item-action" ng-repeat="document in documents">
                    <span class="tag float-xs-right" ng-class="{'tag-default': document.status==0 || document.status==1, 'tag-success': document.status==2 || document.status==6, 'tag-primary': document.status==3, 'tag-info': document.status==4, 'tag-warning': document.status=='5', 'tag-danger': document.status==7}">
                        <span ng-if="document.status==0">{{ 'INITIALISED' | translate }}</span>
                        <span ng-if="document.status==1">{{ 'UNSUBMITTED' | translate }}</span>
                        <span ng-if="document.status==2">{{ 'SUBMITTED' | translate }}</span>
                        <span ng-if="document.status==3">{{ 'REVIEW_PENDING' | translate }}</span>
                        <span ng-if="document.status==4">{{ 'UNDER_REVIEW' | translate }}</span>
                        <span ng-if="document.status==5">{{ 'PARTLY_ACCEPTED' | translate }}</span>
                        <span ng-if="document.status==6">{{ 'REVIEWED' | translate }}</span>
                        <span ng-if="document.status==7">{{ 'REJECTED' | translate }}</span>
                    </span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-md-6">
                            <code>{{document.document_id}}</code>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-md-6">
                            <i>{{document.author_title_name}} {{document.author_first_name}} {{document.author_last_name}}</i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
