<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<!-- HEADERS -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    <!-- Content -->
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 middle">
        <h1 class="display-3">
            {{ 'WELCOME' | translate }}
        </h1>
        <br>
        <p class="lead">
            {{ 'WELCOME_MESSAGE' | translate }}
        </p>
        <br>
    </div>
    <!-- Right padding -->
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
</div>

<!-- FORMS -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">

        <!-- Tab 1 (Login) -->
        <div class="card" style="padding: 30px 10px 20px 10px;" ng-show="tab==1">
            <div class="card-block">
                <form class="form-horizontal" name="loginForm" ng-submit="submitLogin()">
                    <div class="form-group" ng-class="{'has-danger': loginForm.username.$invalid && !loginForm.username.$pristine }">
                        <input
                            type="email"
                            class="form-control form-control-lg"
                            ng-model="login_user.username"
                            name="username"
                            id="username"
                            placeholder="{{ 'EMAIL' | translate }}*"
                            aria-describedby="inputUsername"
                            required
                            autofocus
                            autocomplete="on">
                        <span ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <div class="form-group" ng-class="{'has-danger': loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input
                            type="password"
                            class="form-control form-control-lg"
                            ng-model="login_user.password"
                            name="password"
                            id="password"
                            placeholder="{{ 'PASSWORD' | translate }}*"
                            aria-describedby="inputPassword"
                            required
                            autofocus
                            autocomplete="on">
                        <span ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                    <button class="form-control btn btn-lg btn-success" role="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'LOGIN' | translate }}
                    </button>
                    <br>
                    <br>
                    <div class="middle">
                        <a href="" ng-click="changeTab(2)">
                            {{ 'FORGOT_YOUR_PASSWORD' | translate }}?
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Tab 2 (Recovery) -->
        <div class="card" style="padding: 30px 10px 20px 10px;" ng-show="tab==2">
            <div class="card-block">
                <form class="form-horizontal" name="recoveryForm" ng-submit="recovery()">
                    <div class="form-group" ng-class="{'has-danger': recoveryForm.recovery_email_address.$invalid && !recoveryForm.recovery_email_address.$pristine }">
                        <input type="email" class="form-control form-control-lg" ng-model="recovery_user.email_address" name="recovery_email_address" id="recovery_email_address" placeholder="{{ 'EMAIL_ADDRESS' | translate }}*" required autofocus autocomplete="on">
                        <span ng-show="recoveryForm.recovery_email_address.$error.required && !recoveryForm.recovery_email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                    <br>
                    <button class="form-control btn btn-lg btn-primary" role="submit">
                        {{ 'SEND_RECOVERY_EMAIL' | translate }}
                    </button>
                    <br>
                    <br>
                    <div class="middle">
                        <a href="" ng-click="changeTab(1)">
                            {{ 'LOGIN' | translate }}
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
