<!DOCTYPE html>
<!-- LOADING -->
<div class="loading" ng-show="tab==0">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
</div>

<!-- MAIN -->
<div class="row" ng-show="tab>0">
    <!-- Left padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>

    <!-- Content -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">

        <!-- DOUCMENTS -->
        <div class="card" style="padding: 40px 10px 40px 10px;" ng-show="tab==1">

            <div class="card-block">

                new user

            </div>
        </div>

    </div>

    <!-- Right padding -->
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2"></div>
</div>
<br>
