<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
</head>

<body>
    <p align="right">ID:_____</p>
    <p><b>Consent Form</b></p>
    <br>
    <p><b>Experiment: </b>{{project_name}}</p>
    </p>
    <p><b>Executed by: </b>{{general.german.q02}}</p>
    <br>
    <ol>
        <li>
            <b>Purpose of the study: </b>{{general.english.q04}}
        </li>
        <li>
            <b>Procedure: </b>{{general.english.q05}}
        </li>
        <li>
            <b>Time frame: </b>{{general.english.q03}}
        </li>
        <li>
            <b>Risks: </b>{{general.english.q07}}
        </li>
        <li>
            <b>Benefits: </b>{{general.english.q08}}
        </li>

    </ol>
</body>

</html>
