<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
</head>

<body>
    <!-- <p align="right">ID:_____</p> -->
    <h2 align="center"><b>Informed Consent Form</b></h2>
    <br>
    <h4 align="center">{{project_name}}</h4>
    <br>
    <p>
        Dear Participant,
        <br> Thank you for your involvement in our study.
    </p>
    <br>
    <p>
        <b>Purpose of the study: </b>{{general.english.q04}}
    </p>
    <br>
    <p>
        <b>Procedure: </b>{{general.english.q05}}
    </p>
    <br>
    <p>
        <b>Duration: </b>{{general.english.q06}}
    </p>
    <br>
    <p>
        <b>Potential Risks: </b>{{general.english.q07}}
    </p>
    <br>
    <p>
        <b>Privacy: </b>Original data obtained from this study will be anonymised and only processed in aggregate. In such form, it might be published in academic journals, presentations or other media, but never in a way that would allow anyone to identify
        you individually. One week after the completion of the study it might no longer be possible to retract your data from such aggregated analyses.
    </p>
    <br>
    <!-- <b>Benefits: </b>{{general.english.q08}} -->
</body>

</html>
