<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
</head>

<body>
    <p align="right">ID:_____</p>
    <p><b>Einverständniserklärung</b></p>
    <br>
    <p><b>Studie: </b>{{project_name}}</p>
    </p>
    <p><b>Durchgeführt von: </b>{{general.german.q02}}</p>
    <br>
    <ol>
        <li>
            <b>Zweck der Studie: </b>{{general.german.q04}}
        </li>
        <li>
            <b>Vorgehensweise: </b>{{general.german.q05}}
        </li>
        <li>
            <b>Dauer: </b>{{general.german.q03}}
        </li>
        <li>
            <b>Risiken: </b>{{general.german.q07}}
        </li>
        <li>
            <b>Vorteile: </b>{{general.german.q08}}
        </li>

    </ol>
</body>

</html>
