<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
</head>

<body style="font-size: small">
    <div class="firstpage">
        <p align="center" style="font-size: medium"><b>Informed Consent Form</b></p>
        <p align="center" style="font-size: x-small">(double-sided: to be stored together)</p>
        <br>
        <p align="center" style="font-size: medium">Project Title: <b>{{project_name}}</b></p>
        <br>
        <p>
            Dear Participant,
        </p>
        <p>
            Thank you for your involvement in our study.
        </p>
        <p style="text-align: justify">
            <b>Purpose of the study: </b>{{general.english.q04}}
        </p>
        <p style="text-align: justify">
            <b>Procedure: </b>{{general.english.q05}}
        </p>
        <p style="text-align: justify">
            <b>Duration: </b>{{general.english.q06}}
        </p>
        <p style="text-align: justify">
            <b>Potential Risks: </b>{{general.english.q07}}
        </p>
        <p style="text-align: justify">
            <b>Privacy: </b>Original data obtained from this study will be anonymised and only processed in aggregate. In such form, it might be published in academic journals, presentations or other media, but never in a way that would allow anyone to
            identify you individually. One week after the completion of the study it might no longer be possible to retract your data from such aggregated analyses.
        </p>
        <!-- <b>Benefits: </b>{{general.english.q08}} -->
    </div>
    <div class="secondpage" style="page-break-before:always;">
        <br>
        <p>
            You are free to stop, quit the study and retract your data <b>at any time during the study</b> with no further consequences. <b>If you have any questions, please ask them now.</b>
        </p>
        <p>
            For further questions and complains, you can contact the Institute's Research Ethics Committee: <i>c.kray@uni-muenster.de</i>
        </p>
        <br>
        <p>
            &#9634; I confirm I volunteered to participate in this study.
        </p>
        <p>
            &#9634; I confirm I was allowed to ask questions and that I was provided with responses.
        </p>
        <p>
            &#9634; I confirm I was presented with this document prior to the beginning of the study.
        </p>
        <p>
            &#9634; I confirm I understand my right to quit the study at any time.
        </p>
        <p>
            {{#ethics.q11.checkbox_1}}
            &#9634; I agree for an audio/video* recording of the procedure, including my voice/image*. [*cross out irrelevant options]
            {{/ethics.q11.checkbox_1}}
        </p>
        <br>
        <p>
            <table style="width:100%;font-size: small">
                <tr>
                    <td align="center">_______________</td>
                    <td align="center">_________________________________</td>
                    <td align="center">_________________________________</td>
                </tr>
                <tr>
                    <td align="center">date</td>
                    <td align="center">signature of researcher</td>
                    <td align="center">signature of participant</td>
                </tr>
            </table>
        </p>
        <br>
        <p>
            <b>Optional</b>: Please provide your email address if you would like to be informed about future studies conducted at the Institute for Geoinformatics.
        </p>
        <p>
            Email: ________________________________________________
        </p>
    </div>
</body>

</html>
