<html>

<head>
    <meta charset="UTF-8">
    <style type="text/css">

    </style>
</head>

<body>
    <br>
    <h2 align="center"><b>Einverständniserklärung</b></h2>
    <br>
    <h4 align="center">{{project_name}}</h4>
    <p>
        Lieber Teilnehmer,
    </p>
    <p>
        Vielen Dank für deine Teilnahme an der Studie.
    </p>
    <p style="text-align: justify">
        <b>Zweck der Studie: </b>{{general.german.q04}}
    </p>
    <p style="text-align: justify">
        <b>Vorgehensweise: </b>{{general.german.q05}}
    </p>
    <p style="text-align: justify">
        <b>Dauer: </b>{{general.german.q06}}
    </p>
    <p style="text-align: justify">
          <b>Potentielle Risiken: </b>{{general.german.q07}}
    </p>
    <p style="text-align: justify">
        <b>Datenschutz: </b>Die Daten, die in dieser Studie erhoben werden, werden in anonymisierter Form erhoben und verarbeitet. In dieser Form werden die Daten ggf. in akademischen Journalen, Präsentationen oder anderen Medien veröffenlicht, jedoch niemals so, dass eine Identifizierung der einzelnen Teilnehmer möglich wäre.
        Eine Woche nach Abschluss der Studie wird es deshalb wahrscheinlich selbst dem Experimentleiter nicht mehr möglich sein die Daten aus deiner Teilnahme zu identifizieren und aus der Studie auszuschließen.
    </p>
</body>

</html>
