<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'COMMITTEE' | translate }} {{ '_MEMBERS' | translate }}</div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h6 class="text-muted">
            {{ 'CURRENT_MEMBERS' | translate }}
        </h6>
        <div class="list-group" ng-if="current_members && current_members.length>0">
            <a href="" ng-click="redirect('/members/' + member.member_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="member in current_members | orderBy: ['last_name', 'first_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b><span ng-if="member.title">{{member.title}}&nbsp;</span>{{member.first_name}} {{member.last_name}}</b>
                        &nbsp;
                        <small class="text-muted">
                            {{member.working_group_name}} | {{member.institute_name}} | {{member.university_name}}
                        </small>
                    </div>
                    <div>
                        <span class="text-success" ng-if="member.subscribed">
                            <i class="fa fa-rss-square" aria-hidden="true"></i>
                        </span>
                        <span class="text-danger" ng-if="!member.subscribed">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!current_members || current_members.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>
        <div class="row" ng-if="current_members && current_members.length>0">
            <div class="col text-muted right">
                <small>
                    <span class="text-success">
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                    </span> = {{ 'RESPONSIBLE' | translate }}
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <span class="text-danger">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </span> = {{ 'CURRENTLY_NOT_RESPONSIBLE' | translate }}
                </small>
            </div>
        </div>
        <br>

        <h6 class="text-muted">
            {{ 'FORMER_MEMBERS' | translate }}
        </h6>
        <div class="list-group" ng-if="former_members && former_members.length>0">
            <a href="" ng-click="redirect('/members/' + member.member_id)" class="list-group-item list-group-item-action" ng-repeat="member in former_members | orderBy: ['last_name', 'first_name']">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                &nbsp;&nbsp;
                <b><span ng-if="member.title">{{member.title}}&nbsp;</span>{{member.first_name}} {{member.last_name}}</b>
                &nbsp;
                <small class="text-muted">
                    {{member.working_group_name}} | {{member.institute_name}} | {{member.university_name}}
                </small>
            </a>
        </div>
        <div class="list-group" ng-if="!former_members || former_members.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>
    </div>
</div>
