<!DOCTYPE html>
<div class="card">
    <form class="form-horizontal" name="editAccountForm" ng-submit="save()">
        <div class="card-header middle" style="font-size: 20pt;">
            {{ 'YOUR_ACCOUNT' | translate }}
        </div>
        <div class="card-block">
            <br>
            <label>
                <b>{{ 'EMAIL_ADDRESS' | translate }}</b>
            </label>
            <div class="form-group" ng-class="{'has-danger': editAccountForm.user_email_address.$invalid && !editAccountForm.user_email_address.$pristine}">
                <input
                    type="email"
                    class="form-control"
                    ng-model="updated_user.email_address"
                    name="user_email_address"
                    id="user_email_address"
                    placeholder="{{ 'EMAIL_ADDRESS' | translate }}*"
                    aria-describedby="inputEmailAddress"
                    required
                    autofocus
                    autocomplete="on">
                <small class="form-text text-muted">{{ 'PLEASE_USE_A_UNIVERSITY_ADDRESS' | translate }}</small>
                <span ng-show="editAccountForm.user_email_address.$error.required && !editAccountForm.user_email_address.$pristine" class="text-danger">
                    <small>
                        {{ 'REQUIRED' | translate }}
                    </small>
                </span>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <label>
                        <b>{{ 'TITLE' | translate }}</b>
                    </label>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.title"
                            name="title"
                            id="title"
                            placeholder="{{ 'TITLE' | translate }}"
                            aria-describedby="inputTitle"
                            autocomplete="on">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'FIRST_NAME' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editAccountForm.first_name.$invalid && !editAccountForm.first_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.first_name"
                            name="first_name"
                            id="first_name"
                            placeholder="{{ 'FIRST_NAME' | translate }}*"
                            aria-describedby="inputFirstName"
                            required
                            autocomplete="on">
                        <span ng-show="editAccountForm.email_address.$error.required && !editAccountForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label>
                        <b>{{ 'LAST_NAME' | translate }}</b>
                    </label>
                    <div class="form-group" ng-class="{'has-danger': editAccountForm.last_name.$invalid && !editAccountForm.last_name.$pristine }">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="updated_user.last_name"
                            name="last_name"
                            id="last_name"
                            placeholder="{{ 'LAST_NAME' | translate }}*"
                            aria-describedby="inputLastName"
                            required
                            autocomplete="on">
                        <span ng-show="editAccountForm.email_address.$error.required && !editAccountForm.email_address.$pristine" class="text-danger">
                            <small>
                                {{ 'REQUIRED' | translate }}
                            </small>
                        </span>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-secondary btn-block" role="button" ng-click="cancel()">
                        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'CANCEL' | translate }}
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-success btn-block" role="submit">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'SAVE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
