<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col">{{ 'UNIVERSITIES' | translate }}</div>
            <div class="col right">
                <button class="btn btn-secondary" role="button" ng-click="redirect('/')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm col-md col-lg">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_UNIVERSITIES' | translate }}</small>
                <br>
            </div>
        </div>
        <div class="list-group" ng-if="universities && universities.length>0">
            <a href="" ng-click="redirect('/universities/' + university.university_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="university in universities | filter: searchText | orderBy: ['university_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-university" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{university.university_name}}</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!universities || universities.length==0">
            <div class="list-group-item flex-column align-items-center">
                <div class="d-flex">
                    - {{ 'NONE' | translate }} -
                </div>
            </div>
        </div>
    </div>
</div>
