<!DOCTYPE html>
<div class="card">
    <div class="card-header" style="font-size: 20pt;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">{{ 'UNIVERSITIES' | translate }}</div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 right">
                <button class="btn btn-primary" role="button" ng-click="redirect('/new/university')">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button class="btn btn-secondary" role="button" ng-click="redirect('/documents')">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-xs-12 col-sm col-md col-lg">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchText">
                    <span class="input-group-btn" ng-if="searchText">
                        <a href="" class="btn btn-secondary" ng-click="resetSearch()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                <small class="form-text text-muted">{{ 'SEARCH_FOR_UNIVERSITIES' | translate }}</small>
                <br>
            </div>
        </div>
        <div class="list-group" ng-if="universities && universities.length>0">
            <a href="" ng-click="redirect('/universities/' + university.university_id)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="university in universities | filter: searchText | orderBy: ['university_name']">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <i class="fa fa-university" aria-hidden="true"></i>
                        &nbsp;&nbsp;
                        <b>{{university.university_name}}</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="list-group" ng-if="!universities || universities.length==0">
            <div class="list-group-item middle">
                - {{ 'NONE' | translate }} -
            </div>
        </div>
        <br>

    </div>

    <div class="card-footer right">

        <!-- Pagination -->
        <nav aria-label="pagination" id="pagination" ng-if="universities.length > 0">
            <ul class="pagination justify-content-center">
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(0)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset - filter.limit < 0 }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset - filter.limit)" ng-style="filter.offset - filter.limit < 0 && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{'active': filter.offset == page.offset}" ng-repeat="page in pages">
                    <a href="" class="page-link" ng-click="changeOffset(page.offset)">
                        {{$index+1}}
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(filter.offset + filter.limit)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="page-item" ng-class="{ 'disabled': filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit }">
                    <a href="" class="page-link" ng-click="changeOffset(pages[pages.length - 1].offset)" ng-style="filter.offset + filter.limit >= pages[pages.length - 1].offset + filter.limit && {'background-color':'#f7f7f9'}">
                        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    </a>
                </li>
            </ul>
        </nav>

        <nav ng-if="universities.length == 0">
            <ul>&nbsp;</ul>
        </nav>

    </div>
</div>
