<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

        <style>
            body {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            table thead, table tbody {
                background-color: #FFFFFF;
            }

            thead {
                border-bottom: 1px solid #333333;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <center>
                        <h3>Hello {{first_name}} {{last_name}}</h3>
                        <p>Your new Document has been created!</p>
                    </center>
                    <br>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Document-ID</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="giv-ethics-app.uni-muenster.de:8000/#/docs/{{_id}}" target="_blank">{{project_name}}</a>
                                </td>
                                <td>
                                    <code>{{_id}}</code>
                                </td>
                                <td>
                                    <small>{{created}}</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div>
            <center>
                <b>Ethics-App</b> by <a href="https://www.uni-muenster.de/Geoinformatics/en/index.html" target="_blank">Institute for Geoinformatics</a>
                </br><address>Heisenbergstraße 2 • 48149 • Münster • Germany</address>
            </center>
        </div>
        <br>
    </body>
</html>
